## Import Libraries

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

## Loading the Dataset

In [2]:
# Loading in and setting the data
# You can't download these files from the github, you have to drop them in the folder
tx_data = pd.read_csv('fake_transactional_data_24.csv')
tx_df = pd.DataFrame(tx_data)

In [3]:
tx_df.head()

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date
0,10371.0,4.00,CINEMA,01/01/2025
1,88339.0,2.40,40544,01/01/2025
2,18555.0,2.40,85149,01/01/2025
3,18555.0,4.10,HIPSTER_COFFEE_SHOP,01/01/2025
4,80792.0,1.95,18555,01/01/2025

In [4]:
print(len(tx_df))

10148280

### Creating Senders and Receivers List

In [5]:
# Creating senders and receivers list
senders_list = sorted(tx_df['from_totally_fake_account'])
receivers_list = sorted(tx_df['to_randomly_generated_account'])

print(tx_df['to_randomly_generated_account'])

0                        CINEMA
1                         40544
2                         85149
3           HIPSTER_COFFEE_SHOP
4                         18555
                   ...
10148275            COFFEE_SHOP
10148276            COFFEE_SHOP
10148277               WINE_BAR
10148278                  57569
10148279    A_LOCAL_COFFEE_SHOP
Name: to_randomly_generated_account, Length: 10148280, dtype: object

## Business Data Extraction and Organization

In [6]:
# Creating business and users list
receivers_biz_list = []
receivers_user_list = []

for receiver in receivers_list:
    if receiver.isnumeric() == True:
        receivers_user_list.append(receiver)
    else:
        receivers_biz_list.append(receiver)

In [7]:
unique_senders_list = sorted(list(set(senders_list)))
unique_receivers_list = sorted(list(set(receivers_list)))
unique_receivers_biz_list = sorted(list(set(receivers_biz_list)))
unique_receivers_user_list = sorted(list(set(receivers_user_list)))

### Extracting Valuable Business Data

In [8]:
# Creating business table
# Pruning data from original dataframe
biz_tx_df = tx_df[tx_df['to_randomly_generated_account'].isin(unique_receivers_biz_list)]
biz_tx_df = biz_tx_df.sort_values('to_randomly_generated_account')

# Getting list of ordered names
biz_name_list = list(biz_tx_df['to_randomly_generated_account'].unique())

In [9]:
print(len(tx_df))

10148280

In [10]:
# Getting Descriptive Stats
biz_tx_count = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].count()
biz_tx_sum = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].sum()

biz_tx_mean = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].mean()
biz_tx_median = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].median()

In [11]:
# Needed to count words
from collections import Counter

# Custom aggregation function for sorted list
def sorted_list_agg(input_list):
    return sorted(input_list)

# Custom aggregation function for sorted unique list
def sorted_unique_list_agg(input_list):
    return sorted(input_list.unique())

def sorted_list_count_agg(input_list):
    # Sort the list
    input_list = sorted(input_list)
    
    # Count the frequencies
    input_word_freqs = Counter(input_list)
    
    # Generate the output list
    # dict.fromkeys iterates over the words in the order they occur, it ensures the words remain in order
    output_list = [input_word_freqs[word] for word in dict.fromkeys(input_list)]
    
    return output_list

In [12]:
# Getting Business Sorted Customer Details
biz_tx_customers_sorted = biz_tx_df.groupby('to_randomly_generated_account')['from_totally_fake_account'].agg(sorted_list_agg)

# Getting Business Unique Sorted Customer Details
biz_tx_customers_sorted_unique = biz_tx_df.groupby('to_randomly_generated_account')['from_totally_fake_account'].agg(sorted_unique_list_agg)

# Getting Business Sorted Customer Details Count
biz_tx_customers_sorted_unique_count = biz_tx_df.groupby('to_randomly_generated_account')['from_totally_fake_account'].agg(sorted_list_count_agg)

### Building Business Dataframes

In [13]:
# Building business accounts table
biz_slim_data = {
    'name': biz_name_list,
    'tx_count': list(biz_tx_count),
    'tx_sum_gbp': list(biz_tx_sum),
    'tx_mean_gbp': list(biz_tx_mean),
    'tx_median_gbp': list(biz_tx_median)
}

# Building business accounts table
biz_large_data = {
    'name': biz_name_list,
    'tx_count': list(biz_tx_count),
    'tx_sum_gbp': list(biz_tx_sum),
    'tx_mean_gbp': list(biz_tx_mean),
    'tx_median_gbp': list(biz_tx_median),
    'customers_sorted_unique': list(biz_tx_customers_sorted_unique),
    'customers_tx_count': list(biz_tx_customers_sorted_unique_count)
}

# Create small dataframe
biz_slim_df = pd.DataFrame(biz_slim_data)

# Create large dataframe
biz_large_df = pd.DataFrame(biz_large_data)

### Categorizing Industries by Data

In [14]:
### Importing Mapping
from industryMap import industry_categories

# Using the industry_categories dictionary, map each business in the DataFrame to its industry category
biz_large_df['industry_category'] = biz_large_df['name'].map(industry_categories)

In [15]:
biz_large_df.head()

,name,tx_count,tx_sum_gbp,tx_mean_gbp,tx_median_gbp,customers_sorted_unique,customers_tx_count,industry_category
0,ACCESSORY_SHOP,3325,74862.00,22.514887,22.00,"[1357.0, 1607.0, 1623.0, 1828.0, 1931.0, 2090....","[6, 10, 10, 5, 14, 6, 6, 7, 7, 5, 11, 9, 9, 9,...",Accessories
1,A_CAFE,475154,1144734.25,2.409186,2.40,"[1000.0, 1002.0, 1006.0, 1053.0, 1059.0, 1071....","[116, 53, 118, 55, 45, 55, 65, 57, 143, 50, 58...",Cafes
2,A_LOCAL_COFFEE_SHOP,474159,1141932.30,2.408332,2.40,"[1000.0, 1002.0, 1006.0, 1018.0, 1053.0, 1059....","[117, 46, 137, 4, 55, 40, 53, 55, 46, 130, 54,...",Cafes
3,A_SUPERMARKET,81335,5652778.58,69.499952,65.22,"[1000.0, 1002.0, 1006.0, 1018.0, 1053.0, 1059....","[2, 5, 16, 15, 3, 5, 4, 18, 16, 10, 11, 7, 4, ...",Supermarkets
4,BAR,770414,8458081.50,10.978619,11.00,"[1000.0, 1002.0, 1006.0, 1018.0, 1053.0, 1059....","[72, 110, 104, 110, 98, 82, 117, 71, 139, 65, ...",Pubs / Bars

In [16]:
# Saves the dataframes to csv files, in the specific folder
biz_slim_df.to_csv('SavedData/biz_slim.csv', index=False)
biz_large_df.to_csv('SavedData/biz_large.csv', index=False)

## User Data Extraction and Organization

In [17]:
# User List
# user_id X

# total_tx_count X
# gross_tx_sum_gbp X

# sent_tx_count X
# gross_tx_sent_sum_gbp X
# gross_tx_sent_mean X
# gross_tx_sent_med X

# receive_tx_count X
# gross_tx_receive_sum_gbp X
# gross_tx_receive_mean X
# gross_tx_receive_med X

# net_tx_count X
# net_tx_sum_gbp X

### Create User ID List

In [18]:
# Combine the unique senders, and unique customer receivers
customer_list_combination = unique_senders_list + unique_receivers_user_list

# Convert all items to strings of integers
# Turned into a set as this removed duplicates
# Values are sorted alphabetically
customer_unique_list = sorted(set([str(int(cust)) for cust in customer_list_combination]))

### Create Send Tx Count List

In [19]:
# Dictionary featuring all the unique customer id's
user_send_tx_count_dict = dict.fromkeys(customer_unique_list, 0)

# User send tx's, first converted to int to get rid of decimals, then converted to string
user_send_tx_count = tx_df['from_totally_fake_account'].astype(int).astype(str).value_counts()

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in user_send_tx_count:
        user_send_tx_count_dict[user] = user_send_tx_count[user]

# Converting this to a list
user_send_tx_count_list = list(user_send_tx_count_dict.values())

In [20]:
# User id checker, for send tx count
user_id_tx_checker = '1000' # Have to set to String to see count, have to set integer to see value
spec_user_send_tx_count = user_send_tx_count.get(user_id_tx_checker, 0)
#print(spec_user_send_tx_count)

# Ensuring value is or isn't in list
#print(user_id_tx_checker in unique_senders_list)

### Create Receive Tx Count List

In [21]:
# Dictionary featuring all the unique customer id's
user_receive_tx_count_dict = dict.fromkeys(customer_unique_list, 0)

# Creating tx_df that features no company names
user_tx_df = tx_df[~tx_df['to_randomly_generated_account'].isin(biz_name_list)]

# User send tx's, first converted to int to get rid of decimals, then converted to string
user_receive_tx_count = user_tx_df['to_randomly_generated_account'].astype(int).astype(str).value_counts()

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in user_receive_tx_count:
        user_receive_tx_count_dict[user] = user_receive_tx_count[user]

# Converting this to a list
user_received_tx_count_list = list(user_receive_tx_count_dict.values())

In [22]:
# User id checker, for send tx count
user_id_tx_checker = 100384 # Have to set to String to see count, have to set integer to see value
spec_receive_send_tx_count = user_receive_tx_count.get(user_id_tx_checker, 0)
#print(spec_receive_send_tx_count)

# Ensuring value is or isn't in list
#print(user_id_tx_checker in unique_receivers_list)

### Create Total Tx Count List

In [23]:
user_total_tx_count_dict = {}

for user in user_send_tx_count_dict:
    user_total_tx_count_dict[user] =  user_send_tx_count_dict[user] + user_receive_tx_count_dict[user]

user_total_tx_count_list = list(user_total_tx_count_dict.values())

### Create Net Tx Count List

In [24]:
user_net_tx_count_dict = {}

for user in user_send_tx_count_dict:
    user_net_tx_count_dict[user] =  user_send_tx_count_dict[user] - user_receive_tx_count_dict[user]

user_net_tx_count_list = list(user_net_tx_count_dict.values())

### Gross Tx Sent Sum GBP

In [25]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_sent = tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].sum()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_sent.index = grouped_user_id_sent.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_sent_tx_sum_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_sent:
        user_sent_tx_sum_dict[user] = grouped_user_id_sent[user]

# Converting this to a list
user_sent_tx_sum_list = list(user_sent_tx_sum_dict.values())

### Gross Tx Receive Sum GBP

In [26]:
# Gets the tx_df, filters the dataframe for only rows with business accounts, and putting '~' in front does the reverse
user_tx_df = tx_df[~tx_df['to_randomly_generated_account'].isin(biz_name_list)]

# Same piece of code used in previous cell, but now finding received money
grouped_user_id_received = user_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].sum()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_received.index = grouped_user_id_received.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_received_tx_sum_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_received:
        user_received_tx_sum_dict[user] = grouped_user_id_received[user]

# Converting this to a list
user_received_tx_sum_list = list(user_received_tx_sum_dict.values())

### Gross Tx Sum GBP

In [27]:
user_total_tx_sum_dict = {}

for user in user_sent_tx_sum_dict:
    user_total_tx_sum_dict[user] =  user_sent_tx_sum_dict[user] + user_received_tx_sum_dict[user]

user_total_tx_sum_list = list(user_total_tx_sum_dict.values())
#print(user_total_tx_sum_list)

### Net Tx Sum GBP

In [28]:
user_net_tx_sum_dict = {}

for user in user_sent_tx_sum_dict:
    user_net_tx_sum_dict[user] =  user_sent_tx_sum_dict[user] - user_received_tx_sum_dict[user]

user_net_tx_sum_list = list(user_net_tx_sum_dict.values())
#print(user_net_tx_sum_list)

### Gross Tx Sent Mean GBP

In [33]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_sent_mean = tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].mean()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_sent_mean.index = grouped_user_id_sent_mean.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_sent_tx_mean_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_sent_mean:
        user_sent_tx_mean_dict[user] = grouped_user_id_sent_mean[user]

# Converting this to a list
user_sent_tx_mean_list = list(user_sent_tx_mean_dict.values())

### Gross Tx Sent Median GBP

In [37]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_sent_median = tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].median()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_sent_median.index = grouped_user_id_sent_median.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_sent_tx_median_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_sent_median:
        user_sent_tx_median_dict[user] = grouped_user_id_sent_median[user]

# Converting this to a list
user_sent_tx_median_list = list(user_sent_tx_median_dict.values())

### Gross Tx Received Mean GBP

In [38]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_received_mean = user_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].mean()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_received_mean.index = grouped_user_id_received_mean.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_received_tx_mean_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_received_mean:
        user_received_tx_mean_dict[user] = grouped_user_id_received_mean[user]

# Converting this to a list
user_received_tx_mean_list = list(user_received_tx_mean_dict.values())

### Gross Tx Received Mean GBP

In [39]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_received_median = user_tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].median()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_received_median.index = grouped_user_id_received_median.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_received_tx_median_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_received_median:
        user_received_tx_median_dict[user] = grouped_user_id_received_median[user]

# Converting this to a list
user_received_tx_median_list = list(user_received_tx_median_dict.values())

### User Business Interaction Lists

In [40]:
# Businesses users interacted with
# Dictionary featuring all the unique customer id's
user_biz_interaction_dict = {user: [] for user in customer_unique_list}

grouped_user_id_biz_interaction = biz_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted(list(set(x))))

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_biz_interaction.index = grouped_user_id_biz_interaction.index.astype(int).astype(str)

grouped_user_id_biz_interaction_dict = grouped_user_id_biz_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_id_biz_interaction_dict:
    if user in user_biz_interaction_dict:
        user_biz_interaction_dict[user] = grouped_user_id_biz_interaction_dict[user]
        
# Converting this to a list
user_biz_interaction_list = list(user_biz_interaction_dict.values())

### User Business Interaction Frequency Lists

In [41]:
# Businesses users interacted with frequency
# Dictionary featuring all the unique customer id's
user_biz_freq_interaction_dict = {user: [] for user in customer_unique_list}

grouped_user_id_biz_freq_interaction = biz_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted(list(x)))

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_biz_freq_interaction.index = grouped_user_id_biz_freq_interaction.index.astype(int).astype(str)

grouped_user_id_biz_freq_interaction = grouped_user_id_biz_freq_interaction.apply(sorted_list_count_agg)

grouped_user_id_biz_freq_interaction_dict = grouped_user_id_biz_freq_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_id_biz_freq_interaction_dict:
    if user in user_biz_freq_interaction_dict:
        user_biz_freq_interaction_dict[user] = grouped_user_id_biz_freq_interaction_dict[user]
        
# Converting this to a list
user_biz_freq_interaction_list = list(user_biz_freq_interaction_dict.values())

### User Business Spend Lists

In [42]:
# Dictionary featuring all the unique customer id's
user_biz_spend_dict = {user: [] for user in customer_unique_list}

# Businesses users interacted with spend
grouped_user_id_biz_spend = biz_tx_df.groupby(['from_totally_fake_account', 'to_randomly_generated_account'])['monopoly_money_amount'].sum()

# Changes index from user_id to a set of numbers, user_id (from_totally_fake_account) becomes a column
grouped_user_id_biz_spend = grouped_user_id_biz_spend.reset_index()

# Sorting 'from_totally_fake_account' and 'to_randomly_generated_account' alphabetically
# This may not change anything, but ensures order is kept
sorted_grouped_user_id_biz_spend = grouped_user_id_biz_spend.sort_values(by=['from_totally_fake_account', 'to_randomly_generated_account'])

# Convert the user id to int to get rid of zero, then to string
sorted_grouped_user_id_biz_spend['from_totally_fake_account'] = sorted_grouped_user_id_biz_spend['from_totally_fake_account'].astype(int).astype(str)

# Drop the 'to_randomly_generated_account' column
sorted_grouped_user_id_biz_spend = sorted_grouped_user_id_biz_spend.drop(columns=['to_randomly_generated_account'])

sorted_grouped_lists_user_id_biz_spend = sorted_grouped_user_id_biz_spend.groupby('from_totally_fake_account')['monopoly_money_amount'].agg(lambda x: list(x))

sorted_grouped_lists_user_id_biz_spend_dict = sorted_grouped_lists_user_id_biz_spend.to_dict()

# Setting these values to the values in the dictionary
for user in sorted_grouped_lists_user_id_biz_spend_dict:
    if user in user_biz_spend_dict:
        user_biz_spend_dict[user] = sorted_grouped_lists_user_id_biz_spend_dict[user]
        
# Converting this to a list
user_biz_spend_list = list(user_biz_spend_dict.values())

### User User Interaction Lists

In [43]:
# Users users interacted with frequency
# Dictionary featuring all the unique customer id's
user_user_interaction_dict = {user: [] for user in customer_unique_list}

grouped_user_user_interaction = user_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted([str(int(item)) for item in set(x)]))

# Convert the user id to int to get rid of zero, then to string
grouped_user_user_interaction.index = grouped_user_user_interaction.index.astype(int).astype(str)

grouped_user_user_interaction_dict = grouped_user_user_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_user_interaction_dict:
    if user in user_user_interaction_dict:
        user_user_interaction_dict[user] = grouped_user_user_interaction_dict[user]
        
# Converting this to a list
user_user_interaction_list = list(user_user_interaction_dict.values())

### User User Interaction Frequency Lists

In [44]:
# Businesses users interacted with frequency
# Dictionary featuring all the unique customer id's
user_user_freq_interaction_dict = {user: [] for user in customer_unique_list}

grouped_user_user_freq_interaction = user_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted(list(x)))

# Convert the user id to int to get rid of zero, then to string
grouped_user_user_freq_interaction.index = grouped_user_user_freq_interaction.index.astype(int).astype(str)

grouped_user_user_freq_interaction = grouped_user_user_freq_interaction.apply(sorted_list_count_agg)

grouped_user_user_freq_interaction_dict = grouped_user_user_freq_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_user_freq_interaction_dict:
    if user in user_user_freq_interaction_dict:
        user_user_freq_interaction_dict[user] = grouped_user_user_freq_interaction_dict[user]
        
# Converting this to a list
user_user_freq_interaction_list = list(user_user_freq_interaction_dict.values())

### User User Spend Lists

In [45]:
# Dictionary featuring all the unique customer id's
user_user_spend_dict = {user: [] for user in customer_unique_list}

# Businesses users interacted with spend
grouped_user_id_user_spend = user_tx_df.groupby(['from_totally_fake_account', 'to_randomly_generated_account'])['monopoly_money_amount'].sum()

# Changes index from user_id to a set of numbers, user_id (from_totally_fake_account) becomes a column
grouped_user_id_user_spend = grouped_user_id_user_spend.reset_index()

# Sorting 'from_totally_fake_account' and 'to_randomly_generated_account' alphabetically
# This may not change anything, but ensures order is kept
sorted_grouped_user_id_user_spend = grouped_user_id_user_spend.sort_values(by=['from_totally_fake_account', 'to_randomly_generated_account'])

# Convert the user id to int to get rid of zero, then to string
sorted_grouped_user_id_user_spend['from_totally_fake_account'] = sorted_grouped_user_id_user_spend['from_totally_fake_account'].astype(int).astype(str)

# Drop the 'to_randomly_generated_account' column
sorted_grouped_user_id_user_spend = sorted_grouped_user_id_user_spend.drop(columns=['to_randomly_generated_account'])

sorted_grouped_lists_user_id_user_spend = sorted_grouped_user_id_user_spend.groupby('from_totally_fake_account')['monopoly_money_amount'].agg(lambda x: list(x))

sorted_grouped_lists_user_id_user_spend_dict = sorted_grouped_lists_user_id_user_spend.to_dict()

# Setting these values to the values in the dictionary
for user in sorted_grouped_lists_user_id_user_spend_dict:
    if user in user_user_spend_dict:
        user_user_spend_dict[user] = sorted_grouped_lists_user_id_user_spend_dict[user]
        
# Converting this to a list
user_user_spend_list = list(user_user_spend_dict.values())

### User Industry Interaction Lists

In [46]:
# Add industry column to tx_df
def tx_df_industry_mapping(key):
    if key in industry_categories:
        return industry_categories[key]
    else:  # All values not in industry_categories are set to user
        return 'User'
    
# Apply the mapping
tx_df['industry_category'] = tx_df['to_randomly_generated_account'].apply(tx_df_industry_mapping)

In [47]:
# Industries users interacted with
# Dictionary featuring all the unique customer id's
user_industry_interaction_dict = {user: [] for user in customer_unique_list}

grouped_user_industry_interaction = tx_df.groupby('from_totally_fake_account')['industry_category'].agg(lambda x: sorted(list(set(x))))

# Convert the user id to int to get rid of zero, then to string
grouped_user_industry_interaction.index = grouped_user_industry_interaction.index.astype(int).astype(str)

grouped_user_industry_interaction_dict = grouped_user_industry_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_industry_interaction_dict:
    if user in user_industry_interaction_dict:
        user_industry_interaction_dict[user] = grouped_user_industry_interaction_dict[user]
        
# Converting this to a list
user_industry_interaction_list = list(user_industry_interaction_dict.values())

### User Industry Interaction Frequency Lists

In [48]:
# Indsutries users interacted with frequency
# Dictionary featuring all the unique customer id's
user_industry_freq_interaction_dict = {user: [] for user in customer_unique_list}

grouped_user_industry_freq_interaction = tx_df.groupby('from_totally_fake_account')['industry_category'].agg(lambda x: sorted(list(x)))

# Convert the user id to int to get rid of zero, then to string
grouped_user_industry_freq_interaction.index = grouped_user_industry_freq_interaction.index.astype(int).astype(str)

grouped_user_industry_freq_interaction = grouped_user_industry_freq_interaction.apply(sorted_list_count_agg)

grouped_user_industry_freq_interaction_dict = grouped_user_industry_freq_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_industry_freq_interaction_dict:
    if user in user_industry_freq_interaction_dict:
        user_industry_freq_interaction_dict[user] = grouped_user_industry_freq_interaction_dict[user]
        
# Converting this to a list
user_industry_freq_interaction_list = list(user_industry_freq_interaction_dict.values())

### User Industry Spend Lists

In [49]:
# Dictionary featuring all the unique customer id's
user_industry_spend_dict = {user: [] for user in customer_unique_list}

# Businesses users interacted with spend
grouped_user_id_industry_spend = tx_df.groupby(['from_totally_fake_account', 'industry_category'])['monopoly_money_amount'].sum()

# Changes index from user_id to a set of numbers, user_id (from_totally_fake_account) becomes a column
grouped_user_id_industry_spend = grouped_user_id_industry_spend.reset_index()

# Sorting 'from_totally_fake_account' and 'to_randomly_generated_account' alphabetically
# This may not change anything, but ensures order is kept
sorted_grouped_user_id_industry_spend = grouped_user_id_industry_spend.sort_values(by=['from_totally_fake_account', 'industry_category'])

# Convert the user id to int to get rid of zero, then to string
sorted_grouped_user_id_industry_spend['from_totally_fake_account'] = sorted_grouped_user_id_industry_spend['from_totally_fake_account'].astype(int).astype(str)

# Drop the 'to_randomly_generated_account' column
sorted_grouped_user_id_industry_spend = sorted_grouped_user_id_industry_spend.drop(columns=['industry_category'])

sorted_grouped_lists_user_id_industry_spend = sorted_grouped_user_id_industry_spend.groupby('from_totally_fake_account')['monopoly_money_amount'].agg(lambda x: list(x))

sorted_grouped_lists_user_id_industry_spend_dict = sorted_grouped_lists_user_id_industry_spend.to_dict()

# Setting these values to the values in the dictionary
for user in sorted_grouped_lists_user_id_industry_spend_dict:
    if user in user_industry_spend_dict:
        user_industry_spend_dict[user] = sorted_grouped_lists_user_id_industry_spend_dict[user]
        
# Converting this to a list
user_industry_spend_list = list(user_industry_spend_dict.values())

## Building the User Dataframe

In [50]:
user_slim_data = {
    'user_id': customer_unique_list,
    'sent_tx_count': user_send_tx_count_list,
    'sent_tx_sum_gbp': user_sent_tx_sum_list,
    'sent_tx_median_gbp': user_sent_tx_median_list,
    'received_tx_count': user_received_tx_count_list,
    'received_tx_sum_gbp': user_received_tx_sum_list,
    'received_tx_median_gbp': user_received_tx_median_list
    
}

user_large_data = {
    'user_id': customer_unique_list,
    'total_tx_count': user_total_tx_count_list,
    'net_tx_count': user_net_tx_count_list,
    'total_tx_sum_gbp': user_total_tx_sum_list,
    'net_tx_sum_gbp': user_net_tx_sum_list,
    'sent_tx_count': user_send_tx_count_list,
    'sent_tx_sum_gbp': user_sent_tx_sum_list,
    'sent_tx_mean_gbp': user_sent_tx_mean_list,
    'sent_tx_median_gbp': user_sent_tx_median_list,
    'received_tx_count': user_received_tx_count_list,
    'received_tx_sum_gbp': user_received_tx_sum_list,
    'received_tx_mean_gbp': user_received_tx_mean_list,
    'received_tx_median_gbp': user_received_tx_median_list,
    'user_biz_interaction': user_biz_interaction_list,
    'user_biz_interaction_frequency': user_biz_freq_interaction_list,
    'user_biz_spend': user_biz_spend_list,
    'user_user_interaction': user_user_interaction_list,
    'user_user_interaction_frequency': user_user_freq_interaction_list,
    'user_user_spend': user_user_spend_list,
    'user_industry_interaction': user_industry_interaction_list,
    'user_industry_interaction_frequency': user_industry_freq_interaction_list,
    'user_industry_spend': user_industry_spend_list
    
    
}

# Create small dataframe
user_slim_df = pd.DataFrame(user_slim_data)

# Create large dataframe
user_large_df = pd.DataFrame(user_large_data)

In [51]:
user_large_df.head(50)

,user_id,total_tx_count,net_tx_count,total_tx_sum_gbp,net_tx_sum_gbp,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,...,received_tx_median_gbp,user_biz_interaction,user_biz_interaction_frequency,user_biz_spend,user_user_interaction,user_user_interaction_frequency,user_user_spend,user_industry_interaction,user_industry_interaction_frequency,user_industry_spend
0,1000,1903,1517,37720.11,19676.91,1710,28698.51,16.782754,4.50,193,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[278.15, 269.25, 217.86, 850.5, 19.5, 347.15, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[315.4, 86.5, 35.0, 16130.0, 5.0, 94.0, 24.0, ...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 1, 1, 813, 2, 3, 37, 1, 7, 2, 30, 21, 353,...","[104.97999999999999, 145.0, 8.0, 1955.2, 160.0..."
1,10000,1114,720,21360.39,18944.39,917,20152.39,21.976434,11.00,197,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[13.65, 2.25, 349.77, 791.0, 1275.25, 12.5, 27...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[253.65, 5228.46, 50.0, 106.85, 55.2, 49.9, 32...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 23, 1, 51, 2, 1, 14, 312, 119, 3, ...","[19.99, 3002.0, 370.0, 56.25, 33.64, 1685.48, ..."
2,100000,1919,1433,23455.27,20720.37,1676,22087.82,13.178890,4.50,243,...,6.0,"[ACCESSORY_SHOP, A_CAFE, A_LOCAL_COFFEE_SHOP, ...","[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[113.0, 256.2, 318.4, 1596.43, 1142.5, 23.0, 4...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[135.5, 83.3, 146.5, 4857.0, 109.0, 124.0, 35....","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 6, 1, 828, 10, 58, 5, 2, 18, 1, 334, 65, ...","[369.0, 136.96999999999997, 37.0, 2015.95, 300..."
3,100002,1561,1233,22393.96,20303.16,1397,21348.56,15.281718,4.50,164,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[113.35, 142.65, 1896.42, 965.5, 10.0, 212.5, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[76.08, 2.45, 35.0, 1.45, 46.0, 61.5, 52.55, 4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[7, 32, 2, 281, 2, 3, 33, 4, 2, 10, 269, 511, ...","[136.95, 3464.0, 15.0, 767.9, 99.0, 96.81, 117..."
4,100019,1157,719,44632.75,16232.85,938,30432.80,32.444350,9.00,219,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[118.95, 129.0, 1163.37, 1031.0, 60.0, 3.0, 12...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[125.5, 221.0, 113.0, 24.5, 163.0, 15060.0, 16...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 214, 4, 1, 38, 1, 12, 13, 314, 1, 6...","[12.0, 2701.0, 15.0, 514.55, 250.0, 26.36, 136..."
5,100021,140,-140,874.85,-874.85,0,0.00,0.000000,0.00,140,...,0.0,[],[],[],[],[],[],[],[],[]
6,100023,166,-166,10566.50,-10566.50,0,0.00,0.000000,0.00,166,...,0.0,[],[],[],[],[],[],[],[],[]
7,100027,109,-109,740.27,-740.27,0,0.00,0.000000,0.00,109,...,0.0,[],[],[],[],[],[],[],[],[]
8,10004,1862,1636,18868.67,17654.27,1749,18261.47,10.441092,4.50,113,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[118, 114, 5, 76, 15, 1, 6, 8, 19, 1, 32, 135,...","[284.4, 270.2, 439.27000000000004, 917.5, 202....","[1079, 14243, 1757, 26534, 33117, 35257, 36109...","[3, 10, 12, 13, 2, 61, 8, 7, 8, 32, 7, 3, 36, ...","[18.0, 51.0, 60.0, 80.5, 11.0, 376.92, 52.5, 3...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[2, 3, 46, 869, 7, 35, 9, 2, 3, 26, 338, 2, 1,...","[31.99, 449.0, 593.0, 2116.5, 156.82, 1249.99,..."
9,100053,1652,1134,40478.88,19796.54,1393,30137.71,21.635111,6.00,259,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[59, 37, 11, 65, 2, 44, 7, 22, 37, 48, 1, 1, 2...","[143.04999999999998, 91.64999999999999, 927.01...","[100274, 12782, 1476, 15938, 25098, 35916, 421...","[9, 11, 4, 15, 9, 44, 22, 15, 12, 10, 18, 21, ...","[51.5, 62.0, 25.5, 91.0, 61.5, 304.04, 149.7, ...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 3, 1, 255, 7, 35, 6, 1, 262, 1, 357, 5, 46...","[9.0, 337.0, 15.0, 688.2, 166.35999999999999, ..."
10,100056,138,-138,849.16,-849.16,0,0.00,0.000000,0.00,138,...,0.0,[],[],[],[],[],[],[],[],[]
11,100060,1377,957,19736.97,17272.23,1167,18504.60,15.856555,9.00,210,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[58, 52, 16, 80, 1, 1, 3, 6, 7, 2, 8, 36, 63, ...","[139.65, 126.45, 990.34, 933.5, 10.0, 24.0, 15...","[14577, 18793, 36284, 37992, 43633, 54768, 596...","[63, 24, 53, 23, 20, 29, 18, 16, 14, 22, 26, 3...","[402.0, 140.5, 308.15, 145.15, 114.5, 167.9, 1...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 29, 39, 226, 25, 2, 37, 12, 3, 24, 348, 2,...","[108.97999999999999, 3233.0, 404.0, 555.55, 13..."
12,100064,136,-136,837.75,-837.75,0,0.00,0.000000,0.00,136,...,0.0,[],[],[],[],[],[],[],[],[]
13,100065,88,-88,519.00,-519.00,0,0.00,0.000000,0.00,88,...,0.0,[],[],[],[],[],[],[],[],[]
14,100083,393,-393,2530.32,-2530.32,0,0.00,0.000000,0.00,393,...,0.0,[],[],[],[],[],[],[],[],[]
15,100086,1445,1131,22634.20,20806.90,1288,21720.55,16.863781,9.00,157,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[48, 51, 16, 79, 21, 46, 1, 5, 2, 9, 22, 48, 2...","[113.15, 125.75, 419.63, 940.0, 220.0, 1072.59...","[33124, 36296, 36596, 66236, 7214, 74488, 8265...","[1, 19, 105, 32, 59, 111, 18, 14, 49]","[50.0, 110.25, 611.0, 191.6, 7266.039999999999...","[Books, Cafes, Children, Coffee Beans and Teas...","[45, 219, 4, 1, 45, 1, 3, 12, 26, 357, 93, 11,...","[565.0, 526.1, 219.0, 21.36, 1620.44, 54.0, 65..."
16,100094,694,526,23390.81,22359.81,610,22875.31,37.500508,11.00,84,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[1, 2, 16, 80, 2, 11, 6, 8, 17, 6, 6, 1, 1, 11...","[1.45, 3.8499999999999996, 1699.59, 961.0, 7.5...","[100618, 35976, 37080, 45569, 49205, 5065, 529...","[12, 10, 11, 33, 19, 8, 25, 12, 8, 8, 20, 8, 23]","[64.5, 55.0, 68.5, 192.6, 102.45, 45.5, 8118.0...","[Apparel, Books, Cafes, Children, Coffee Beans...","[20, 1, 6, 2, 3, 64, 1, 10, 2, 239, 64, 198]","[2601.0, 20.0, 15.0, 106.0, 66.82, 2127.77, 51..."
17,100098,1640,1396,33687.36,32307.96,1518,32997.66,21.737589,2.65,122,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[115, 111, 7, 82, 2, 6, 4, 1, 1, 117, 8, 1, 2,...","[268.09999999999997, 259.1, 713.61, 954.5, 9.5...","[10209, 1311, 17467, 19426, 25450, 33124, 4591...","[29, 51, 43, 20, 17, 1, 19, 12, 13, 48, 14]","[209.0, 313.5, 273.5, 126.5, 98.5, 50.0, 104.6...","[Cafes, Children, Coffee Beans and Teas, Dinin...","[812, 34, 1, 43, 7, 3, 1, 9, 307, 2, 1, 29, 1,...","[1935.85, 1901.0, 9.09, 1625.72, 254.0, 58.0, ..."
18,100105,1422,1106,38214.03,31051.33,1264,34632.68,27.399272,9.00,158,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[57, 48, 13, 66, 11, 55, 1, 8, 7, 14, 8, 40, 5...","[139.8, 115.64999999999999, 337.08, 760.5, 147...","[13488, 21219, 22869, 24589, 25652, 45199, 497...","[4, 14, 23, 38, 12, 7, 4, 39, 2, 9, 50, 6, 21,...","[24.5, 83.43, 135.2, 254.5, 14705.0, 43.0, 26....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 39, 47, 222, 28, 1, 46, 2, 23, 325, 114, 2...","[34.989999999999995, 4739.0, 590.0, 537.4, 147..."
19,100115,1787,1345,23162.96,20437.26,1566,21800.11,13.920888,6.00,221,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[55, 65, 6, 65, 59, 8, 48, 4, 16, 11, 54, 49, ...","[127.55, 160.0, 137.03, 762.5, 1154.54, 121.0,...","[100305, 10963, 19816, 25840, 37538, 38184, 40...","[19, 20, 23, 43, 15, 16, 91, 21, 8, 16, 13, 30...","[115.42, 143.0, 149.5, 270.5, 92.3, 100.5, 365...","[Alcohol, Apparel, Cafes, Coffee Beans and Tea...","[1, 32, 285, 5, 40, 18, 1, 1, 271, 343, 139, 4...","[12.0, 3706.0, 763.0, 172.28, 1403.04, 750.0, ..."
20,100120,1299,1009,19793.60,17869.12,1154,18831.36,16.318336,9.00,145,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[57, 51, 16, 93, 49, 8, 3, 1, 6, 3, 49, 9, 1, ...","[139.4, 119.7, 311.23, 1096.0, 1141.55, 138.0,...","[12052, 14388, 16914, 17548, 20317, 33478, 380...","[10, 13, 23, 14, 24, 14, 13, 18, 22, 23, 12, 9...","[50.7, 86.5, 131.5, 103.0, 132.85, 89.0, 73.0,...","[Alcohol, Apparel, Cafes, Children, Coffee Bea...","[1, 1, 211, 2, 8, 39, 5, 1, 24, 337, 124, 53, ...","[9.0, 58.0, 512.9, 142.0, 238.63, 1536.93, 213..."
21,100126,1774,1424,24164.98,22037.38,1599,23101.18,14.447267,6.00,175,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[74, 60, 10, 103, 54, 58, 1, 7, 16, 1, 9, 44, ...","[178.45, 147.0, 211.92999999999998, 1239.5, 11...","[12070, 22156, 23192, 30365, 33124, 39321, 493...","[13, 75, 17, 8, 1, 16, 29, 26, 17, 76, 10, 18,...","[69.0, 436.65, 121.0, 36.85, 50.0, 89.95, 179....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 1, 3, 301, 4, 1, 35, 8, 5, 5, 300, 346, 10...","[29.99, 84.0, 30.0, 841.85, 202.0, 11.82, 1154..."
22,10013,201,-201,1302.60,-1302.60,0,0.00,0.000000,0.00,201,...,0.0,[],[],[],[],[],[],[],[],[]
23,100137,1082,840,31018.12,29608.12,961,30313.12,31.543309,10.00,121,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[9, 1, 13, 59, 10, 52, 3, 6, 20, 8, 48, 7, 1, ...","[20.099999999999998, 2.55, 256.42, 593.5, 134....","[18179, 3109, 3237, 35110, 54211, 59156, 60859...","[7, 24, 10, 9, 12, 15, 41, 25, 39, 38, 12, 17,...","[43.0, 123.0, 47.5, 48.0, 16050.0, 91.15, 209....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 19, 37, 17, 2, 8, 41, 2, 4, 1, 28, 23, 288...","[8.99, 2519.0, 464.0, 46.4, 36.0, 240.91, 1374..."
24,100138,233,-233,1360.15,-1360.15,0,0.00,0.000000,0.00,233,...,0.0,[],[],[],[],[],[],[],[],[]
25,100140,162,-162,991.65,-991.65,0,0.00,0.000000,0.00,162,...,0.0,[],[],[],[],[],[],[],[],[]
26,100142,163,-163,966.55,-966.55,0,0.00,0.000000,0.00,163,...,0.0,[],[],[],[],[],[],[],[],[]
27,100144,1333,969,19649.53,17417.71,1151,18533.62,16.102189,6.50,182,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[48, 56, 15, 70, 52, 1, 9, 1, 49, 42, 1, 1, 1,...","[104.8, 137.7, 283.21000000000004, 799.0, 1239...","[20652, 32231, 33491, 36399, 47041, 52614, 543...","[113, 38, 22, 16, 16, 63, 9, 15, 16, 34, 6]","[670.4, 212.5, 114.45, 80.5, 87.6, 393.25, 50....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 1, 2, 211, 2, 6, 35, 12, 2, 18, 1, 349, 10...","[59.98, 158.0, 32.0, 504.6, 137.0, 155.44, 135..."
28,100153,182,-182,1150.00,-1150.00,0,0.00,0.000000,0.00,182,...,0.0,[],[],[],[],[],[],[],[],[]
29,100155,1663,1397,16221.04,14295.94,1530,15258.49,9.972869,2.55,133,...,6.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[108, 110, 1, 108, 1, 8, 1, 9, 21, 10, 11, 112...","[262.35, 266.65, 53.21, 808.0, 13.0, 36.0, 64....","[10259, 11156, 19841, 23000, 29962, 42760, 442...","[13, 20, 7, 29, 19, 12, 32, 11, 2, 12, 14, 6]","[78.75, 226.49, 40.5, 295.01, 178.43, 67.5, 26...","[Apparel, Books, Cafes, Children, Coffee Beans...","[27, 2, 815, 1, 6, 47, 14, 3, 1, 38, 344, 1, 5...","[2608.0, 30.0, 1973.85, 64.0, 151.82, 1845.48,..."
30,100159,1886,1544,21828.63,19920.43,1715,20874.53,12.171738,5.00,171,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[109, 98, 7, 85, 61, 4, 7, 10, 1, 121, 16, 9, ...","[265.35, 238.4, 211.33, 956.5, 1424.98, 16.0, ...","[32392, 33124, 3694, 37931, 48173, 51998, 6111...","[14, 2, 7, 17, 28, 34, 26, 15, 74, 6, 29, 21, 38]","[92.0, 100.0, 43.5, 95.0, 170.5, 3195.0, 146.9...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 26, 33, 778, 1, 2, 54, 7, 1, 2, 35, 300, 1...","[9.0, 2924.0, 336.0, 1912.9, 58.0, 77.28, 2117..."
31,100163,67,-67,3988.05,-3988.05,0,0.00,0.000000,0.00,67,...,0.0,[],[],[],[],[],[],[],[],[]
32,100165,159,-159,1060.43,-1060.43,0,0.00,0.000000,0.00,159,...,0.0,[],[],[],[],[],[],[],[],[]
33,100166,1146,630,46615.01,9064.71,888,27839.86,31.351194,6.00,258,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[58, 62, 1, 38, 2, 7, 13, 2, 50, 57, 1, 2, 53,...","[141.7, 145.85, 62.79, 388.5, 20.0, 418.0, 459...","[18860, 20576, 25866, 27425, 46591, 54713, 592...","[9, 22, 12, 19, 19, 10, 3, 45, 17, 13, 30, 18,...","[101.0, 142.5, 17315.0, 119.0, 114.5, 59.0, 14...","[Alcohol, Books, Cafes, Children, Coffee Beans...","[1, 5, 235, 31, 3, 45, 13, 1, 12, 283, 2, 8, 3...","[8.99, 55.0, 560.15, 1921.0, 88.63, 1655.1, 49..."
34,100169,1086,746,11938.45,9526.43,916,10732.44,11.716638,7.00,170,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, BAR, CAFE, CHINE...","[42, 56, 95, 3, 15, 26, 1, 46, 19, 15, 9, 8, 2...","[97.45, 125.64999999999999, 1121.5, 14.0, 513....","[15381, 20441, 20729, 24890, 25838, 32333, 326...","[13, 16, 13, 22, 9, 15, 22, 1, 28, 5, 39, 8, 1...","[80.5, 107.65, 84.0, 126.05, 44.5, 96.5, 138.5...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[2, 1, 36, 207, 3, 65, 23, 1, 285, 20, 53, 220]","[31.99, 123.0, 431.0, 475.75, 95.9, 2060.21, 9..."
35,100171,1534,1170,34026.20,31716.80,1352,32871.50,24.313240,6.00,182,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[58, 48, 13, 78, 1, 1, 51, 6, 8, 1, 12, 45, 42...","[140.1, 112.5, 1304.19, 906.0, 20.0, 29.0, 238...","[11630, 1214, 15219, 25805, 27111, 33124, 3868...","[37, 32, 22, 12, 10, 1, 1, 13, 15, 15, 9, 29, ...","[248.0, 11684.75, 175.0, 73.5, 57.0, 50.0, 2.4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 26, 3, 252, 36, 7, 41, 268, 21, 325, 1, 63...","[94.97999999999999, 3215.0, 40.0, 721.15, 1922..."
36,100175,345,-345,298984.50,-298984.50,0,0.00,0.000000,0.00,345,...,0.0,[],[],[],[],[],[],[],[],[]
37,100186,157,-157,1348.66,-1348.66,0,0.00,0.000000,0.00,157,...,0.0,[],[],[],[],[],[],[],[],[]
38,100197,1567,865,20914.20,16636.80,1216,18775.50,15.440378,9.00,351,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[51, 61, 13, 98, 1, 6, 4, 7, 1, 24, 46, 1, 2, ...","[121.89999999999999, 146.7, 1043.45, 1120.0, 2...","[13219, 20840, 23486, 23637, 36833, 44768, 482...","[14, 29, 35, 28, 63, 37, 21, 31, 19, 17, 54, 1...","[87.8, 182.75, 250.9, 167.4, 369.78, 215.45, 1...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 2, 5, 222, 29, 5, 31, 5, 2, 35, 381, 3, 1,...","[145.98000000000002, 210.0, 60.0, 552.05, 1617..."
39,100198,1460,1340,19806.02,19097.92,1400,19451.97,13.894264,5.00,60,...,6.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[54, 58, 8, 112, 1, 61, 12, 46, 8, 23, 15, 11,...","[135.7, 147.95, 217.11, 674.0, 20.0, 1509.59, ...","[11834, 19596, 33124, 34709, 47665, 50665, 533...","[4, 10, 2, 8, 9, 12, 3, 3, 2, 3, 14, 2, 5, 1, ...","[24.5, 71.0, 100.0, 51.5, 68.5, 92.0, 17.0, 7....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 31, 2, 262, 1, 2, 32, 1, 14, 1, 1, 274, 40...","[19.99, 3895.0, 40.0, 733.6, 80.0, 70.0, 1071...."
40,1002,1246,840,17057.65,14188.29,1043,15622.97,14.978878,8.99,203,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[53, 46, 5, 110, 1, 8, 23, 7, 51, 27, 1, 5, 7,...","[123.4, 109.39999999999999, 483.98, 1284.0, 5....","[11559, 17310, 2213, 22549, 23010, 23981, 3312...","[8, 80, 21, 7, 34, 7, 1, 7, 3, 6, 14, 6, 8, 6,...","[54.5, 544.7, 140.0, 50.0, 4126.75, 39.0, 50.0...","[Alcohol, Cafes, Children, Coffee Beans and Te...","[3, 206, 4, 3, 49, 14, 1, 18, 318, 2, 11, 62, ...","[154.97, 483.75, 268.0, 61.81999999999999, 163..."
41,10021,1284,1038,13838.29,12392.99,1161,13115.64,11.296848,8.22,123,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[53, 47, 17, 109, 51, 1, 5, 6, 54, 21, 1, 1, 1...","[125.15, 119.05, 380.12, 1171.0, 1078.57, 75.0...","[13243, 1824, 1941, 34888, 36284, 37884, 49542...","[17, 9, 10, 3, 23, 30, 44, 22, 26, 19, 24, 34,...","[87.3, 64.0, 54.15, 16.5, 105.75, 195.05, 237....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 1, 49, 210, 1, 4, 39, 13, 5, 2, 18, 334, 1...","[184.97, 61.0, 516.0, 526.25, 66.0, 129.09, 14..."
42,100214,1479,985,21502.24,18477.22,1232,19989.73,16.225430,9.00,247,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[64, 58, 19, 119, 14, 54, 1, 2, 18, 1, 2, 6, 5...","[158.5, 133.8, 486.81, 1420.5, 153.0, 1224.77,...","[15922, 20186, 26558, 40827, 41988, 42102, 527...","[22, 21, 19, 29, 23, 46, 42, 21, 12, 42, 9, 28...","[139.2, 128.5, 112.4, 176.69, 136.5, 268.0, 21...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 2, 41, 223, 2, 1, 45, 7, 1, 10, 1, 353, 11...","[164.97, 302.0, 469.0, 541.6, 113.0, 9.09, 160..."
43,100217,193,-193,1164.05,-1164.05,0,0.00,0.000000,0.00,193,...,0.0,[],[],[],[],[],[],[],[],[]
44,100219,110,-110,614.30,-614.30,0,0.00,0.000000,0.00,110,...,0.0,[],[],[],[],[],[],[],[],[]
45,100223,1537,1053,54392.64,16267.48,1295,35330.06,27.281900,9.00,242,...,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[56, 50, 10, 76, 12, 55, 3, 2, 6, 13, 16, 10, ...","[136.05, 123.0, 219.92000000000002, 880.5, 152...","[11655, 14879, 25649, 27287, 28364, 31696, 327...","[12, 9, 13, 18, 7, 9, 12, 1, 10, 15, 22, 49, 6...","[16935.0, 51.5, 74.5, 109.0, 45.5, 50.0, 69.5,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 29, 80, 240, 21, 6, 49, 10, 15, 319, 113, ...","[58.980000000000004, 3462.0, 901.0, 587.7, 123..."
46,100224,2011,1551,17882.95,15148.45,1781,16515.70,9.273273,4.50,230,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[138, 110, 2, 81, 16, 2, 3, 1, 47, 121, 1, 1, ...","[324.5, 265.8, 244.95, 976.5, 63.0, 109.0, 78....","[12665, 13105, 13851, 18495, 24111, 34204, 583...","[8, 22, 5, 7, 10, 26, 7, 3, 10, 34, 5, 2, 39, ...","[66.0, 149.0, 29.5, 38.0, 59.5, 158.0, 40.0, 1...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 2, 2, 872, 2, 4, 32, 1, 19, 3, 12, 47, 352...","[65.99, 79.0, 17.0, 2141.45, 109.0, 63.18, 116..."
47,100228,114,-114,693.50,-693.50,0,0.00,0.000000,0.00,114,...,0.0,[],[],[],[],[],[],[],[],[]
48,100233,1811,1391,21343.73,18447.47,1601,19895.60,12.426983,3.70,210,...,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[114, 122, 10, 97, 12, 3, 8, 29, 5, 148, 26, 1...","[268.6, 283.85, 703.79, 1168.5, 160.0, 12.5, 1...","[45606, 51952, 54641, 54663, 62005, 65769, 678...","[13, 8, 66, 24, 5, 9, 16, 20, 25, 12, 45]","[86.5, 51.5, 425.67, 149.05, 27.0, 66.5, 107.5...","[Books, Cafes, Coffee Beans and Teas, Dining, ...","[48, 849, 3, 32, 12, 1, 12, 276, 1, 57, 67, 243]","[538.0, 2044.45, 89.09, 1033.29, 495.0, 16.0, ..."
49,100250,1204,898,43919.59,28070.59,1051,35995.09,34.248421,6.50,153,...,6.0,"[A_CAFE, A_SUPERMARKET, BAR, BUTCHERS, CAFE, C...","[2, 15, 66, 6, 52, 6, 7, 3, 29, 3, 9, 8, 14, 1...","[5.05, 1500.04, 775.0, 135.0, 243.0, 340.0, 29...","[15004, 21274, 22157, 22554, 23076, 2838, 3637...","[5, 65, 6, 11, 20, 8, 9, 23, 12, 1, 8, 10, 5, ...","[31.0, 379.9, 40.0, 76.5, 123.0, 45.5, 53.0, 1...","[Apparel, Cafes, Children, Coffee Beans and Te...","[21, 60, 24, 7, 35, 9, 260, 291, 20, 57, 267]","[2203.0, 261.65, 1258.0, 259.53999999999996, 1..."

In [52]:
# Saves the dataframes to csv files, in the specific folder
user_slim_df.to_csv('SavedData/user_slim.csv', index=False)
user_large_df.to_csv('SavedData/user_large.csv', index=False)