## Import Libraries

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

## Loading the Dataset

In [2]:
# Loading in and setting the data
# You can't download these files from the github, you have to drop them in the folder
tx_data = pd.read_csv('fake_transactional_data_24.csv')
tx_df = pd.DataFrame(tx_data)

In [3]:
tx_df.head()

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date
0,10371.0,4.00,CINEMA,01/01/2025
1,88339.0,2.40,40544,01/01/2025
2,18555.0,2.40,85149,01/01/2025
3,18555.0,4.10,HIPSTER_COFFEE_SHOP,01/01/2025
4,80792.0,1.95,18555,01/01/2025

### Creating Senders and Receivers List

In [4]:
# Creating senders and receivers list
senders_list = sorted(tx_df['from_totally_fake_account'])
receivers_list = sorted(tx_df['to_randomly_generated_account'])

print(tx_df['to_randomly_generated_account'])

0                        CINEMA
1                         40544
2                         85149
3           HIPSTER_COFFEE_SHOP
4                         18555
                   ...
10148275            COFFEE_SHOP
10148276            COFFEE_SHOP
10148277               WINE_BAR
10148278                  57569
10148279    A_LOCAL_COFFEE_SHOP
Name: to_randomly_generated_account, Length: 10148280, dtype: object

## Business Data Extraction and Organization

In [5]:
# Creating business and users list
receivers_biz_list = []
receivers_user_list = []

for receiver in receivers_list:
    if receiver.isnumeric() == True:
        receivers_user_list.append(receiver)
    else:
        receivers_biz_list.append(receiver)

In [6]:
unique_senders_list = sorted(list(set(senders_list)))
unique_receivers_list = sorted(list(set(receivers_list)))
unique_receivers_biz_list = sorted(list(set(receivers_biz_list)))
unique_receivers_user_list = sorted(list(set(receivers_user_list)))

### Extracting Valuable Business Data

In [7]:
# Creating business table
# Pruning data from original dataframe
biz_tx_df = tx_df[tx_df['to_randomly_generated_account'].isin(unique_receivers_biz_list)]
biz_tx_df = biz_tx_df.sort_values('to_randomly_generated_account')

# Getting list of ordered names
biz_name_list = list(biz_tx_df['to_randomly_generated_account'].unique())

In [8]:
# Getting Descriptive Stats
biz_tx_count = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].count()
biz_tx_sum = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].sum()

biz_tx_mean = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].mean()
biz_tx_median = biz_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].median()

In [9]:
# Needed to count words
from collections import Counter

# Custom aggregation function for sorted list
def sorted_list_agg(input_list):
    return sorted(input_list)

# Custom aggregation function for sorted unique list
def sorted_unique_list_agg(input_list):
    return sorted(input_list.unique())

def sorted_list_count_agg(input_list):
    # Sort the list
    input_list = sorted(input_list)
    
    # Count the frequencies
    input_word_freqs = Counter(input_list)
    
    # Generate the output list
    # dict.fromkeys iterates over the words in the order they occur, it ensures the words remain in order
    output_list = [input_word_freqs[word_count] for word_count in dict.fromkeys(input_word_freqs)]
    
    return output_list

In [10]:
# Getting Business Sorted Customer Details
biz_tx_customers_sorted = biz_tx_df.groupby('to_randomly_generated_account')['from_totally_fake_account'].agg(sorted_list_agg)

# Getting Business Unique Sorted Customer Details
biz_tx_customers_sorted_unique = biz_tx_df.groupby('to_randomly_generated_account')['from_totally_fake_account'].agg(sorted_unique_list_agg)

# Getting Business Sorted Customer Details Count
biz_tx_customers_sorted_unique_count = biz_tx_df.groupby('to_randomly_generated_account')['from_totally_fake_account'].agg(sorted_list_count_agg)

### Building Business Dataframes

In [11]:
# Building business accounts table
biz_slim_data = {
    'name': biz_name_list,
    'tx_count': list(biz_tx_count),
    'tx_sum_gbp': list(biz_tx_sum),
    'tx_mean_gbp': list(biz_tx_mean),
    'tx_median_gbp': list(biz_tx_median)
}

# Building business accounts table
biz_large_data = {
    'name': biz_name_list,
    'tx_count': list(biz_tx_count),
    'tx_sum_gbp': list(biz_tx_sum),
    'tx_mean_gbp': list(biz_tx_mean),
    'tx_median_gbp': list(biz_tx_median),
    'customers_sorted_unique': list(biz_tx_customers_sorted_unique),
    'customers_tx_count': list(biz_tx_customers_sorted_unique_count)
}

# Create small dataframe
biz_slim_df = pd.DataFrame(biz_slim_data)

# Create large dataframe
biz_large_df = pd.DataFrame(biz_large_data)

### Categorizing Industries by Data

In [12]:
### Importing Mapping
from industryMap import industry_categories

# Using the industry_categories dictionary, map each business in the DataFrame to its industry category
biz_large_df['industry_category'] = biz_large_df['name'].map(industry_categories)

In [13]:
biz_large_df.head()

,name,tx_count,tx_sum_gbp,tx_mean_gbp,tx_median_gbp,customers_sorted_unique,customers_tx_count,industry_category
0,ACCESSORY_SHOP,3325,74862.00,22.514887,22.00,"[1357.0, 1607.0, 1623.0, 1828.0, 1931.0, 2090....","[6, 10, 10, 5, 14, 6, 6, 7, 7, 5, 11, 9, 9, 9,...",Accessories
1,A_CAFE,475154,1144734.25,2.409186,2.40,"[1000.0, 1002.0, 1006.0, 1053.0, 1059.0, 1071....","[116, 53, 118, 55, 45, 55, 65, 57, 143, 50, 58...",Cafes
2,A_LOCAL_COFFEE_SHOP,474159,1141932.30,2.408332,2.40,"[1000.0, 1002.0, 1006.0, 1018.0, 1053.0, 1059....","[117, 46, 137, 4, 55, 40, 53, 55, 46, 130, 54,...",Cafes
3,A_SUPERMARKET,81335,5652778.58,69.499952,65.22,"[1000.0, 1002.0, 1006.0, 1018.0, 1053.0, 1059....","[2, 5, 16, 15, 3, 5, 4, 18, 16, 10, 11, 7, 4, ...",Supermarkets
4,BAR,770414,8458081.50,10.978619,11.00,"[1000.0, 1002.0, 1006.0, 1018.0, 1053.0, 1059....","[72, 110, 104, 110, 98, 82, 117, 71, 139, 65, ...",Pubs / Bars

In [19]:
# Saves the dataframes to csv files, in the specific folder
biz_slim_df.to_csv('SavedData/biz_slim.csv', index=False)
biz_large_df.to_csv('SavedData/biz_large.csv', index=False)

## User Data Extraction and Organization

In [14]:
# User List
# user_id X

# total_tx_count X
# gross_tx_sum_gbp X

# sent_tx_count X
# gross_tx_sent_sum_gbp X
# gross_tx_sent_mean X
# gross_tx_sent_med X

# receive_tx_count X
# gross_tx_receive_sum_gbp X
# gross_tx_receive_mean X
# gross_tx_receive_med X

# net_tx_count X
# net_tx_sum_gbp X

### Create User ID List

In [15]:
# Combine the unique senders, and unique customer receivers
customer_list_combination = unique_senders_list + unique_receivers_user_list

# Convert all items to strings of integers
# Turned into a set as this removed duplicates
# Values are sorted alphabetically
customer_unique_list = sorted(set([str(int(cust)) for cust in customer_list_combination]))

### Create Send Tx Count List

In [16]:
# Dictionary featuring all the unique customer id's
user_send_tx_count_dict = dict.fromkeys(customer_unique_list, 0)

# User send tx's, first converted to int to get rid of decimals, then converted to string
user_send_tx_count = tx_df['from_totally_fake_account'].astype(int).astype(str).value_counts()

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in user_send_tx_count:
        user_send_tx_count_dict[user] = user_send_tx_count[user]

# Converting this to a list
user_send_tx_count_list = list(user_send_tx_count_dict.values())

In [17]:
# User id checker, for send tx count
user_id_tx_checker = '1000' # Have to set to String to see count, have to set integer to see value
spec_user_send_tx_count = user_send_tx_count.get(user_id_tx_checker, 0)
#print(spec_user_send_tx_count)

# Ensuring value is or isn't in list
#print(user_id_tx_checker in unique_senders_list)

### Create Receive Tx Count List

In [18]:
# Dictionary featuring all the unique customer id's
user_receive_tx_count_dict = dict.fromkeys(customer_unique_list, 0)

# Creating tx_df that features no company names
user_tx_df = tx_df[~tx_df['to_randomly_generated_account'].isin(biz_name_list)]

# User send tx's, first converted to int to get rid of decimals, then converted to string
user_receive_tx_count = user_tx_df['to_randomly_generated_account'].astype(int).astype(str).value_counts()

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in user_receive_tx_count:
        user_receive_tx_count_dict[user] = user_receive_tx_count[user]

# Converting this to a list
user_received_tx_count_list = list(user_receive_tx_count_dict.values())

In [19]:
# User id checker, for send tx count
user_id_tx_checker = 100384 # Have to set to String to see count, have to set integer to see value
spec_receive_send_tx_count = user_receive_tx_count.get(user_id_tx_checker, 0)
#print(spec_receive_send_tx_count)

# Ensuring value is or isn't in list
#print(user_id_tx_checker in unique_receivers_list)

### Create Total Tx Count List

In [20]:
user_total_tx_count_dict = {}

for user in user_send_tx_count_dict:
    user_total_tx_count_dict[user] =  user_send_tx_count_dict[user] + user_receive_tx_count_dict[user]

user_total_tx_count_list = list(user_total_tx_count_dict.values())

### Create Net Tx Count List

In [21]:
user_net_tx_count_dict = {}

for user in user_send_tx_count_dict:
    user_net_tx_count_dict[user] =  user_send_tx_count_dict[user] - user_receive_tx_count_dict[user]

user_net_tx_count_list = list(user_net_tx_count_dict.values())

### Gross Tx Sent Sum GBP

In [22]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_sent = tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].sum()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_sent.index = grouped_user_id_sent.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_sent_tx_sum_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_sent:
        user_sent_tx_sum_dict[user] = grouped_user_id_sent[user]

# Converting this to a list
user_sent_tx_sum_list = list(user_sent_tx_sum_dict.values())

### Gross Tx Receive Sum GBP

In [23]:
# Gets the tx_df, filters the dataframe for only rows with business accounts, and putting '~' in front does the reverse
user_tx_df = tx_df[~tx_df['to_randomly_generated_account'].isin(biz_name_list)]

# Same piece of code used in previous cell, but now finding received money
grouped_user_id_received = user_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].sum()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_received.index = grouped_user_id_received.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_received_tx_sum_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_received:
        user_received_tx_sum_dict[user] = grouped_user_id_received[user]

# Converting this to a list
user_received_tx_sum_list = list(user_received_tx_sum_dict.values())

### Gross Tx Sum GBP

In [24]:
user_total_tx_sum_dict = {}

for user in user_sent_tx_sum_dict:
    user_total_tx_sum_dict[user] =  user_sent_tx_sum_dict[user] + user_received_tx_sum_dict[user]

user_total_tx_sum_list = list(user_total_tx_sum_dict.values())
#print(user_total_tx_sum_list)

### Net Tx Sum GBP

In [25]:
user_net_tx_sum_dict = {}

for user in user_sent_tx_sum_dict:
    user_net_tx_sum_dict[user] =  user_sent_tx_sum_dict[user] - user_received_tx_sum_dict[user]

user_net_tx_sum_list = list(user_net_tx_sum_dict.values())
#print(user_net_tx_sum_list)

### Gross Tx Sent Mean GBP

In [26]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_sent_mean = biz_tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].mean()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_sent_mean.index = grouped_user_id_sent_mean.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_sent_tx_mean_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_sent_mean:
        user_sent_tx_mean_dict[user] = grouped_user_id_sent_mean[user]

# Converting this to a list
user_sent_tx_mean_list = list(user_sent_tx_mean_dict.values())

### Gross Tx Sent Median GBP

In [27]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_sent_median = tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].median()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_sent_median.index = grouped_user_id_sent_median.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_sent_tx_median_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_sent_median:
        user_sent_tx_median_dict[user] = grouped_user_id_sent_median[user]

# Converting this to a list
user_sent_tx_median_list = list(user_sent_tx_median_dict.values())

### Gross Tx Received Mean GBP

In [28]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_received_mean = user_tx_df.groupby('to_randomly_generated_account')['monopoly_money_amount'].mean()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_received_mean.index = grouped_user_id_received_mean.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_received_tx_mean_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_received_mean:
        user_received_tx_mean_dict[user] = grouped_user_id_received_mean[user]

# Converting this to a list
user_received_tx_mean_list = list(user_received_tx_mean_dict.values())

### Gross Tx Received Mean GBP

In [29]:
# Groups the user with all the entries in which they have sent money
# The ".sum()" adds up all these entries
grouped_user_id_received_median = user_tx_df.groupby('from_totally_fake_account')['monopoly_money_amount'].median()

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_received_median.index = grouped_user_id_received_median.index.astype(int).astype(str)

# Dictionary featuring all the unique customer id's
user_received_tx_median_dict = dict.fromkeys(customer_unique_list, 0)

# Setting these values to the values in the dictionary
for user in customer_unique_list:
    if user in grouped_user_id_received_median:
        user_received_tx_median_dict[user] = grouped_user_id_received_median[user]

# Converting this to a list
user_received_tx_median_list = list(user_received_tx_median_dict.values())

### User Business Interaction Lists

In [30]:
# Businesses users interacted with
# Dictionary featuring all the unique customer id's
user_biz_interaction_dict = dict.fromkeys(customer_unique_list, [])

grouped_user_id_biz_interaction = biz_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted(list(set(x))))

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_biz_interaction.index = grouped_user_id_biz_interaction.index.astype(int).astype(str)

grouped_user_id_biz_interaction_dict = grouped_user_id_biz_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_id_biz_interaction_dict:
    if user in user_biz_interaction_dict:
        user_biz_interaction_dict[user] = grouped_user_id_biz_interaction_dict[user]
        
# Converting this to a list
user_biz_interaction_list = list(user_biz_interaction_dict.values())

### User Business Interaction Frequency Lists

In [31]:
# Businesses users interacted with frequency
# Dictionary featuring all the unique customer id's
user_biz_freq_interaction_dict = dict.fromkeys(customer_unique_list, [])

grouped_user_id_biz_freq_interaction = biz_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted(list(x)))

# Convert the user id to int to get rid of zero, then to string
grouped_user_id_biz_freq_interaction.index = grouped_user_id_biz_freq_interaction.index.astype(int).astype(str)

grouped_user_id_biz_freq_interaction = grouped_user_id_biz_freq_interaction.apply(sorted_list_count_agg)

grouped_user_id_biz_freq_interaction_dict = grouped_user_id_biz_freq_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_id_biz_freq_interaction_dict:
    if user in user_biz_freq_interaction_dict:
        user_biz_freq_interaction_dict[user] = grouped_user_id_biz_freq_interaction_dict[user]
        
# Converting this to a list
user_biz_freq_interaction_list = list(user_biz_freq_interaction_dict.values())

### User User Interaction Lists

In [32]:
# Users users interacted with frequency
# Dictionary featuring all the unique customer id's
user_user_interaction_dict = dict.fromkeys(customer_unique_list, [])

grouped_user_user_interaction = user_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted([str(int(item)) for item in set(x)]))

# Convert the user id to int to get rid of zero, then to string
grouped_user_user_interaction.index = grouped_user_user_interaction.index.astype(int).astype(str)

grouped_user_user_interaction_dict = grouped_user_user_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_user_interaction_dict:
    if user in user_user_interaction_dict:
        user_user_interaction_dict[user] = grouped_user_user_interaction_dict[user]
        
# Converting this to a list
user_user_interaction_list = list(user_user_interaction_dict.values())

### User User Interaction Frequency Lists

In [33]:
# Businesses users interacted with frequency
# Dictionary featuring all the unique customer id's
user_user_freq_interaction_dict = dict.fromkeys(customer_unique_list, [])

grouped_user_user_freq_interaction = user_tx_df.groupby('from_totally_fake_account')['to_randomly_generated_account'].agg(lambda x: sorted(list(x)))

# Convert the user id to int to get rid of zero, then to string
grouped_user_user_freq_interaction.index = grouped_user_user_freq_interaction.index.astype(int).astype(str)

grouped_user_user_freq_interaction = grouped_user_user_freq_interaction.apply(sorted_list_count_agg)

grouped_user_user_freq_interaction_dict = grouped_user_user_freq_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_user_freq_interaction_dict:
    if user in user_user_freq_interaction_dict:
        user_user_freq_interaction_dict[user] = grouped_user_user_freq_interaction_dict[user]
        
# Converting this to a list
user_user_freq_interaction_list = list(user_user_freq_interaction_dict.values())

### User Industry Interaction Lists

In [39]:
# Add industry column to tx_df
def tx_df_industry_mapping(key):
    if key in industry_categories:
        return industry_categories[key]
    else:  # All values not in industry_categories are set to user
        return 'User'
    
# Apply the mapping
tx_df['industry_category'] = tx_df['to_randomly_generated_account'].apply(tx_df_industry_mapping)

In [47]:
# Industries users interacted with
# Dictionary featuring all the unique customer id's
user_industry_interaction_dict = dict.fromkeys(customer_unique_list, [])

grouped_user_industry_interaction = tx_df.groupby('from_totally_fake_account')['industry_category'].agg(lambda x: sorted(list(set(x))))

# Convert the user id to int to get rid of zero, then to string
grouped_user_industry_interaction.index = grouped_user_industry_interaction.index.astype(int).astype(str)

grouped_user_industry_interaction_dict = grouped_user_industry_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_industry_interaction_dict:
    if user in user_industry_interaction_dict:
        user_industry_interaction_dict[user] = grouped_user_industry_interaction_dict[user]
        
# Converting this to a list
user_industry_interaction_list = list(user_industry_interaction_dict.values())

### User Industry Interaction Frequency Lists

In [51]:
# Indsutries users interacted with frequency
# Dictionary featuring all the unique customer id's
user_industry_freq_interaction_dict = dict.fromkeys(customer_unique_list, [])

grouped_user_industry_freq_interaction = tx_df.groupby('from_totally_fake_account')['industry_category'].agg(lambda x: sorted(list(x)))

# Convert the user id to int to get rid of zero, then to string
grouped_user_industry_freq_interaction.index = grouped_user_industry_freq_interaction.index.astype(int).astype(str)

grouped_user_industry_freq_interaction = grouped_user_industry_freq_interaction.apply(sorted_list_count_agg)

grouped_user_industry_freq_interaction_dict = grouped_user_industry_freq_interaction.to_dict()

# Setting these values to the values in the dictionary
for user in grouped_user_industry_freq_interaction_dict:
    if user in user_industry_freq_interaction_dict:
        user_industry_freq_interaction_dict[user] = grouped_user_industry_freq_interaction_dict[user]
        
# Converting this to a list
user_industry_freq_interaction_list = list(user_industry_freq_interaction_dict.values())

## Building the User Dataframe

In [56]:
user_slim_data = {
    'user_id': customer_unique_list,
    'sent_tx_count': user_send_tx_count_list,
    'sent_tx_sum_gbp': user_sent_tx_sum_list,
    'sent_tx_median_gbp': user_sent_tx_median_list,
    'received_tx_count': user_received_tx_count_list,
    'received_tx_sum_gbp': user_received_tx_sum_list,
    'received_tx_median_gbp': user_received_tx_median_list
    
}

user_large_data = {
    'user_id': customer_unique_list,
    'total_tx_count': user_total_tx_count_list,
    'net_tx_count': user_net_tx_count_list,
    'total_tx_sum_gbp': user_total_tx_sum_list,
    'net_tx_sum_gbp': user_net_tx_sum_list,
    'sent_tx_count': user_send_tx_count_list,
    'sent_tx_sum_gbp': user_sent_tx_sum_list,
    'sent_tx_mean_gbp': user_sent_tx_mean_list,
    'sent_tx_median_gbp': user_sent_tx_median_list,
    'received_tx_count': user_received_tx_count_list,
    'received_tx_sum_gbp': user_received_tx_sum_list,
    'received_tx_mean_gbp': user_received_tx_mean_list,
    'received_tx_median_gbp': user_received_tx_median_list,
    'user_biz_interaction': user_biz_interaction_list,
    'user_biz_interaction_frequency': user_biz_freq_interaction_list,
    'user_user_interaction': user_user_interaction_list,
    'user_user_interaction_frequency': user_user_freq_interaction_list,
    'user_industry_interaction': user_industry_interaction_list,
    'user_industry_interaction_frequency': user_industry_freq_interaction_list
    
    
}

# Create small dataframe
user_slim_df = pd.DataFrame(user_slim_data)

# Create large dataframe
user_large_df = pd.DataFrame(user_large_data)

In [57]:
user_large_df.head()

,user_id,total_tx_count,net_tx_count,total_tx_sum_gbp,net_tx_sum_gbp,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,received_tx_sum_gbp,received_tx_mean_gbp,received_tx_median_gbp,user_biz_interaction,user_biz_interaction_frequency,user_user_interaction,user_user_interaction_frequency,user_industry_interaction,user_industry_interaction_frequency
0,1000,1903,1517,37720.11,19676.91,1710,28698.51,7.854277,4.5,193,9021.60,46.744041,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 1, 1, 808, 2, 3, 37, 1, 7, 2, 35, 21, 353,..."
1,10000,1114,720,21360.39,18944.39,917,20152.39,21.372710,11.0,197,1208.00,6.131980,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 20, 1, 51, 2, 1, 17, 312, 119, 3, ..."
2,100000,1919,1433,23455.27,20720.37,1676,22087.82,11.567202,4.5,243,1367.45,5.627366,6.0,"[ACCESSORY_SHOP, A_CAFE, A_LOCAL_COFFEE_SHOP, ...","[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 6, 1, 823, 10, 58, 5, 2, 23, 1, 334, 65, ..."
3,100002,1561,1233,22393.96,20303.16,1397,21348.56,13.390346,4.5,164,1045.40,6.374390,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[7, 32, 2, 233, 2, 3, 33, 4, 2, 10, 317, 511, ..."
4,100019,1157,719,44632.75,16232.85,938,30432.80,20.213062,9.0,219,14199.95,64.839954,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 213, 4, 1, 38, 1, 13, 13, 314, 1, 6..."

In [31]:
# Saves the dataframes to csv files, in the specific folder
user_slim_df.to_csv('SavedData/user_slim.csv', index=False)
user_large_df.to_csv('SavedData/user_large.csv', index=False)