In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('simulated_transaction_2024.csv')

In [17]:
df.head(50)

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name
0,01/01/2023,00:00,678330503.0,2971.00,1584.00,NaN,Westport Care Home
1,01/01/2023,00:00,472213568.0,3792.00,1950.00,NaN,Barbiee Boutique
2,01/01/2023,00:00,472213568.0,3012.00,-780.00,283027736.0,NaN
3,01/01/2023,00:00,283027736.0,1787.00,780.00,472213568.0,NaN
4,01/01/2023,00:00,624500124.0,3226.00,1825.00,NaN,Fat Face
5,01/01/2023,00:00,203466392.0,4607.66,2841.66,NaN,Lavender Primary
6,01/01/2023,00:00,768271776.0,3620.00,1950.00,NaN,A Cut Above
7,01/01/2023,00:00,768271776.0,2840.00,-780.00,215404070.0,NaN
8,01/01/2023,00:00,215404070.0,1965.00,780.00,768271776.0,NaN
9,01/01/2023,00:00,456221621.0,2831.00,1675.00,NaN,Tesco
10,01/01/2023,00:00,350921975.0,2458.50,1842.50,NaN,Brilliant Brushes
11,01/01/2023,00:00,350921975.0,1998.50,-460.00,633362865.0,NaN
12,01/01/2023,00:00,455831435.0,3253.10,1620.10,NaN,Costa Coffee
13,01/01/2023,00:00,455831435.0,2603.10,-650.00,442079728.0,NaN
14,01/01/2023,00:00,442079728.0,2426.00,650.00,455831435.0,NaN
15,01/01/2023,00:00,832564361.0,5376.00,3542.00,NaN,Premier Finance
16,01/01/2023,00:00,407574996.0,3151.00,1609.00,NaN,Fat Face
17,01/01/2023,00:00,172084472.0,2449.00,1943.00,NaN,Westport Care Home
18,01/01/2023,00:00,172084472.0,1149.00,-1300.00,407574996.0,NaN
19,01/01/2023,00:00,407574996.0,4451.00,1300.00,172084472.0,NaN
20,01/01/2023,00:00,442070890.0,4074.10,2648.10,NaN,Lavender Primary
21,01/01/2023,00:00,442070890.0,3414.10,-660.00,605711527.0,NaN
22,01/01/2023,00:00,605711527.0,1928.00,660.00,442070890.0,NaN
23,01/01/2023,00:00,744968736.0,3154.00,1584.00,NaN,Westport Care Home
24,01/01/2023,00:00,865748375.0,4607.00,2773.00,NaN,A Cut Above
25,01/01/2023,00:00,865748375.0,3917.00,-690.00,548907062.0,NaN
26,01/01/2023,00:00,548907062.0,2513.00,690.00,865748375.0,NaN
27,01/01/2023,00:00,522188082.0,3611.00,2780.00,NaN,Tesco
28,01/01/2023,00:00,786141370.0,3066.00,1943.00,NaN,Westport Care Home
29,01/01/2023,00:00,616924659.0,4292.00,2780.00,NaN,North Face
30,01/01/2023,00:00,616924659.0,2072.00,-2220.00,979135922.0,NaN
31,01/01/2023,00:00,979135922.0,3942.00,2220.00,616924659.0,NaN
32,01/01/2023,00:00,370757362.0,3288.00,1675.00,NaN,Craftastic
33,01/01/2023,00:00,399144202.0,2860.00,1833.00,NaN,Fitted Stitch
34,01/01/2023,00:00,637433131.0,2266.00,1706.00,NaN,Westport Care Home
35,01/01/2023,00:00,754141345.0,3820.00,1943.00,NaN,Westport Care Home
36,01/01/2023,00:00,754141345.0,3040.00,-780.00,412823730.0,NaN
37,01/01/2023,00:00,412823730.0,1786.00,780.00,754141345.0,NaN
38,01/01/2023,00:00,119993184.0,3418.00,1712.00,NaN,Westport Care Home
39,01/01/2023,00:00,119993184.0,2988.00,-430.00,384497904.0,NaN
40,01/01/2023,00:00,384497904.0,1732.00,430.00,119993184.0,NaN
41,01/01/2023,00:00,298000165.0,6040.00,4167.00,NaN,Selfridges
42,01/01/2023,00:00,241459011.0,2466.10,1620.10,NaN,Starbucks
43,01/01/2023,00:00,604288474.0,3946.30,2083.30,NaN,The Crown
44,01/01/2023,00:00,720742759.0,2317.00,1694.00,NaN,Westport Care Home
45,01/01/2023,00:00,200080192.0,4046.00,2800.00,NaN,Fat Face
46,01/01/2023,00:00,183888402.0,4966.00,4167.00,NaN,Fitted Stitch
47,01/01/2023,00:00,532478725.0,3786.00,1825.00,NaN,Selfridges
48,01/01/2023,00:00,680773155.0,2806.00,1706.00,NaN,Westport Care Home
49,01/01/2023,00:00,215426302.0,3488.50,1842.50,NaN,Cass Art

In [16]:
unique_third_party_names = df['Third Party Name'].unique()
print(unique_third_party_names)
print(len(unique_third_party_names))

['Westport Care Home' 'Barbiee Boutique' nan 'Fat Face' 'Lavender Primary'
 'A Cut Above' 'Tesco' 'Brilliant Brushes' 'Costa Coffee'
 'Premier Finance' 'North Face' 'Craftastic' 'Fitted Stitch' 'Selfridges'
 'Starbucks' 'The Crown' 'Cass Art' 'Green Park Academy' 'Rose & Crown'
 'Kings Arms' 'Sunny Care Nursery' 'A Yarn Story' 'Pets Corner'
 'Lavender Fields' 'Victoria Park' 'Halifax' 'LBG' 'Blizzard' 'Xbox'
 'Mojang Studios' 'PureGym' 'Disney' 'Netflix' 'Grand Union BJJ' 'Amazon'
 'SquareOnix' 'Deliveroo' 'JustEat' 'Coop Local' 'Sainsbury' 'AMAZON'
 'The Works' "Blackwell's" 'Topshop' 'Matalan' 'Foyles' 'Wool'
 'Hobby Lobby' 'Revella' 'Sainsbury Local' 'Loosely Fitted'
 'Stitch By Stitch' 'Coffee #1' 'Hobbycraft' 'Lloyds Pharmacy'
 'Gamestation' 'CeX' 'Etsy' 'Five Senses Art' 'Sports Direct' 'Boots'
 'Reebok' 'JD Sports' 'Head' 'Frankie & Bennies' 'Gap Kids'
 'University College Hospital' 'CPA' 'Happy Days Home' 'Pets at Home'
 'Jollyes' 'Collector Cave' 'Vision Express' 'Green Park'
 'Remedy plus care' 'Town High' 'RugbyFields' 'Mamas & Papas' 'Specsavers'
 'Kew House' 'HMV' 'Millets' 'Mothercare' 'Mountain Warehouse']
84

In [12]:
unique_dates = df['Date'].unique()
len(unique_dates)

341

In [14]:
unique_accounts = df['Account No'].unique()
len(unique_accounts)

977

Initial notes:
- Could be an idea to split into 2 dataframe: income (+) and expenditures(-). 
- at 11.59/00.00 on the first of each months could be when direct debits occur eg. monthly income, monthly rent, gym memberships?
- we can see an initial story that on the first at timestamp 0:00 we see an income, a transfer out of the employee (rent) and an income to that account (maybe landlord?)
- on the first we also see a lot of payments going out to halifax, LBG. Could be monthly mortgage/loan repayments
-  then there are monthly subscriptions: Puregym, Disney, Mojang studios, Xbox, Blizzard, SquareOnix, Netflix, Amazon, Grand Union BJJ
- then spending starts

Industries:
- pubs: The Crown, Rose & Crown
- food shops (supermarkets): Tesco, Sainsbury, Sainsbury Local