### Importing libraries

In [148]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
import ast

### Loading the dataset

In [149]:
expenditures_df = pd.read_csv('../SavedData/dataset2_expenditures.csv')
payments_df= pd.read_csv('../SavedData/dataset2_payments.csv')
expenditures_users_df = pd.read_csv('../SavedData/dataset2_expenditures_by_users.csv')
payments_users_df = pd.read_csv('../SavedData/dataset2_payments_by_users.csv')
simulated_cleaned_tx_df = pd.read_csv('../SavedData/dataset2_cleaned.csv')

In [150]:
simulated_cleaned_tx_df

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime
0,01/01/2023,00:00:00,678330503.0,2971.000000,1584.00,NaN,Westport Care Home,2023-01-01 00:00:00
1,01/01/2023,00:00:00,472213568.0,3792.000000,1950.00,NaN,Barbiee Boutique,2023-01-01 00:00:00
2,01/01/2023,00:00:00,472213568.0,3012.000000,-780.00,283027736.0,NaN,2023-01-01 00:00:00
3,01/01/2023,00:00:00,283027736.0,1787.000000,780.00,472213568.0,NaN,2023-01-01 00:00:00
4,01/01/2023,00:00:00,624500124.0,3226.000000,1825.00,NaN,Fat Face,2023-01-01 00:00:00
...,...,...,...,...,...,...,...,...
229189,06/12/2023,20:54:00,581655972.0,45935.206861,-41.06,NaN,Tesco,2023-12-06 20:54:00
229190,06/12/2023,20:55:00,786141370.0,-244.837500,-62.35,NaN,Sainsbury Local,2023-12-06 20:55:00
229191,06/12/2023,21:05:00,824916823.0,9709.172159,-32.94,NaN,Deliveroo,2023-12-06 21:05:00
229192,06/12/2023,21:13:00,366550080.0,26834.165794,-19.25,NaN,Amazon,2023-12-06 21:13:00
229193,06/12/2023,21:32:00,259015404.0,1145.349837,-37.64,NaN,JustEat,2023-12-06 21:32:00

In [151]:
expenditures_users_df

,Account No,total_transactions,total_spent,median_transaction,mean_transaction,business_interactions,user_interactions,most_recent_transaction
0,101531259.0,110,17627.58,88.580,160.250727,"['LBG', 'Disney', 'Grand Union BJJ', 'Matalan'...",[],2023-12-05
1,104832000.0,150,25115.52,49.920,167.436800,"['LBG', 'Netflix', 'Grand Union BJJ', 'Blizzar...",[587923845.0],2023-12-03
2,105375973.0,146,10067.28,48.160,68.953973,"['PureGym', 'Netflix', 'Amazon', ""Blackwell's""...",[],2023-12-03
3,106601471.0,180,7760.01,19.965,43.111167,"['Mojang Studios', 'Netflix', 'The Crown', ""Bl...",[],2023-12-06
4,108481285.0,344,15062.28,21.510,43.785698,"['Disney', 'Amazon', 'PureGym', ""Blackwell's"",...",[913801979.0],2023-12-06
...,...,...,...,...,...,...,...,...
971,995615876.0,172,17598.80,52.920,102.318605,"['LBG', 'Blizzard', 'Mojang Studios', 'The Cro...",[],2023-12-05
972,996042490.0,243,35268.01,34.970,145.135844,"['Halifax', 'Netflix', 'PureGym', ""Blackwell's...",[792845450.0],2023-12-06
973,998390769.0,140,21323.35,69.990,152.309643,"['Halifax', 'Disney', 'Netflix', 'Mojang Studi...",[],2023-12-01
974,998405607.0,145,8816.16,35.070,60.801103,"['Xbox', 'Blizzard', 'Mojang Studios', 'Netfli...",[],2023-11-30
975,999752672.0,315,30464.72,17.910,96.713397,"['Halifax', 'Netflix', 'The Works', 'Coffee #1...",[211493028.0],2023-12-05

### Splitting the data into training and testing

In [152]:
copied_simulated_tx_df = simulated_cleaned_tx_df.copy()

# Splitting the copied dataset into historical_transactions (95%) and testing_transactions (5%)
training_transactions, testing_transactions = train_test_split(copied_simulated_tx_df, test_size=0.1, random_state=12)

# Displaying the shapes to verify the split
training_transactions.shape, testing_transactions.shape

((206274, 8), (22920, 8))

In [153]:
testing_transactions

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime
50365,14/03/2023,18:33:00,712474734.0,-1324.548831,-31.23,NaN,Deliveroo,2023-03-14 18:33:00
50317,14/03/2023,17:28:00,419550103.0,6544.593463,-125.30,NaN,Loosely Fitted,2023-03-14 17:28:00
156768,31/08/2023,23:59:00,834581602.0,925.931550,-7.00,NaN,Xbox,2023-08-31 23:59:00
198076,31/10/2023,09:27:00,250957494.0,1090.427100,-37.99,NaN,Sports Direct,2023-10-31 09:27:00
46751,05/03/2023,16:34:00,675231808.0,4038.532728,-158.90,NaN,Selfridges,2023-03-05 16:34:00
...,...,...,...,...,...,...,...,...
146741,16/08/2023,10:05:00,779946617.0,13089.944442,-4.84,NaN,AMAZON,2023-08-16 10:05:00
99244,02/06/2023,10:01:00,497809732.0,1214.287223,-1.50,NaN,Five Senses Art,2023-06-02 10:01:00
165435,10/09/2023,17:00:00,146909202.0,4552.412277,-77.00,NaN,Topshop,2023-09-10 17:00:00
125773,16/07/2023,07:12:00,678330503.0,4077.564304,-1.56,NaN,Amazon,2023-07-16 07:12:00
203041,31/10/2023,23:59:00,490790931.0,590.227650,-15.99,NaN,Netflix,2023-10-31 23:59:00

### Splitting the training transactions into payments and expenditures

In [154]:
payments_training_df = training_transactions[training_transactions['Amount'] > 0]
expenditures_training_df = training_transactions[training_transactions['Amount'] < 0]

In [155]:
# Taking the absolute values of the amount column
expenditures_training_df["Amount"] = expenditures_training_df["Amount"].abs()

expenditures_training_df

/var/folders/rw/215myrns4md_n1k8nkyww6mw0000gn/T/ipykernel_40022/721076894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditures_training_df["Amount"] = expenditures_training_df["Amount"].abs()

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime
215690,22/11/2023,18:12:00,496674181.0,-2187.525472,111.38,NaN,Coop Local,2023-11-22 18:12:00
20958,31/01/2023,10:05:00,421881811.0,2363.284100,22.00,NaN,Sports Direct,2023-01-31 10:05:00
197261,30/10/2023,20:06:00,387957305.0,-2677.341106,37.99,NaN,Tesco,2023-10-30 20:06:00
63359,03/04/2023,08:51:00,120634201.0,1441.908700,41.04,NaN,Tesco,2023-04-03 08:51:00
6331,02/01/2023,18:47:00,713910252.0,2116.752100,140.49,NaN,Tesco,2023-01-02 18:47:00
...,...,...,...,...,...,...,...,...
206083,05/11/2023,07:55:00,550169791.0,22875.430900,45.04,NaN,Etsy,2023-11-05 07:55:00
36482,23/02/2023,12:38:00,554792076.0,2248.810443,75.74,NaN,Topshop,2023-02-23 12:38:00
40177,01/03/2023,00:00:00,624563756.0,-14.727071,822.00,NaN,LBG,2023-03-01 00:00:00
150781,24/08/2023,20:15:00,176922958.0,1440.312330,37.43,NaN,Deliveroo,2023-08-24 20:15:00
210763,13/11/2023,10:23:00,749378808.0,4130.408178,138.56,NaN,Fat Face,2023-11-13 10:23:00

### Feature engineering for anomaly detection: expenditure

In [156]:
# Calculating Q1, Q3, and IQR for each account in 'from_totally_fake_account'
quartiles = expenditures_training_df.groupby('Account No')['Amount'].quantile([0.25, 0.5, 0.75]).unstack()
quartiles['IQR'] = quartiles[0.75] - quartiles[0.25]

thresholds = quartiles.copy()
thresholds['Overall_Threshold_1_IQR'] = quartiles[0.75] + 1.5 * quartiles['IQR']
thresholds['Overall_Threshold_2_IQR'] = quartiles[0.75] + 3 * quartiles['IQR']
thresholds['Overall_Threshold_3_IQR'] = quartiles[0.75] + 5 * quartiles['IQR']

anomaly_detection_by_expenditures_df = thresholds


anomaly_detection_by_expenditures_df

,0.25,0.5,0.75,IQR,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR
Account No,,,,,,,
101531259.0,27.9675,88.580,117.7825,89.8150,252.50500,387.2275,566.8575
104832000.0,24.2775,50.950,117.4050,93.1275,257.09625,396.7875,583.0425
105375973.0,18.9900,46.030,114.0850,95.0950,256.72750,399.3700,589.5600
106601471.0,10.9200,21.970,44.5000,33.5800,94.87000,145.2400,212.4000
108481285.0,9.4400,20.970,44.9200,35.4800,98.14000,151.3600,222.3200
...,...,...,...,...,...,...,...
995615876.0,25.3925,54.735,109.2325,83.8400,234.99250,360.7525,528.4325
996042490.0,15.9900,34.490,93.4900,77.5000,209.74000,325.9900,480.9900
998390769.0,14.9900,69.980,131.7750,116.7850,306.95250,482.1300,715.7000
998405607.0,15.9900,41.305,100.0000,84.0100,226.01500,352.0300,520.0500
999752672.0,6.0500,18.445,108.9025,102.8525,263.18125,417.4600,623.1650

### Creating thresholds for each user to user transfers

In [157]:
# Threshold function
def calculate_thresholds(group, multiplier):
#     if len(group) <= 1:  # Check if there's only one expenditure
#         return np.nan  # Indicative value for groups with only one transaction
    quantiles = group['Amount'].quantile([0.25, 0.75])
    IQR = quantiles[0.75] - quantiles[0.25]
    threshold = quantiles[0.75] + multiplier * IQR
    return threshold

In [158]:

# Applying the adjusted function for each threshold calculation with different multipliers

# For Threshold 1 (1.5 * IQR)
thresholds_1 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Account No']).groupby(['Account No', 'Third Party Account No']).apply(lambda group: calculate_thresholds(group, 1.5)).reset_index(name='Threshold_1')
thresholds_structured_1 = thresholds_1.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Account No'], x['Threshold_1']))).to_dict()

# For Threshold 2 (3 * IQR)
thresholds_2 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Account No']).groupby(['Account No', 'Third Party Account No']).apply(lambda group: calculate_thresholds(group, 3)).reset_index(name='Threshold_2')
thresholds_structured_2 = thresholds_2.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Account No'], x['Threshold_2']))).to_dict()

# For Threshold 3 (5 * IQR)
thresholds_3 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Account No']).groupby(['Account No', 'Third Party Account No']).apply(lambda group: calculate_thresholds(group, 5)).reset_index(name='Threshold_3')
thresholds_structured_3 = thresholds_3.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Account No'], x['Threshold_3']))).to_dict()

anomaly_detection_by_expenditures_df['Third_Party_Account_Threshold_1'] = anomaly_detection_by_expenditures_df.index.map(lambda x: thresholds_structured_1.get(x, np.nan))
anomaly_detection_by_expenditures_df['Third_Party_Account_Threshold_2'] = anomaly_detection_by_expenditures_df.index.map(lambda x: thresholds_structured_2.get(x, np.nan))
anomaly_detection_by_expenditures_df['Third_Party_Account_Threshold_3'] = anomaly_detection_by_expenditures_df.index.map(lambda x: thresholds_structured_3.get(x, np.nan))

In [159]:
anomaly_detection_by_expenditures_df

,0.25,0.5,0.75,IQR,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,Third_Party_Account_Threshold_1,Third_Party_Account_Threshold_2,Third_Party_Account_Threshold_3
Account No,,,,,,,,,,
101531259.0,27.9675,88.580,117.7825,89.8150,252.50500,387.2275,566.8575,NaN,NaN,NaN
104832000.0,24.2775,50.950,117.4050,93.1275,257.09625,396.7875,583.0425,{587923845.0: 670.0},{587923845.0: 670.0},{587923845.0: 670.0}
105375973.0,18.9900,46.030,114.0850,95.0950,256.72750,399.3700,589.5600,NaN,NaN,NaN
106601471.0,10.9200,21.970,44.5000,33.5800,94.87000,145.2400,212.4000,NaN,NaN,NaN
108481285.0,9.4400,20.970,44.9200,35.4800,98.14000,151.3600,222.3200,{913801979.0: 2185.0},{913801979.0: 2552.5},{913801979.0: 3042.5}
...,...,...,...,...,...,...,...,...,...,...
995615876.0,25.3925,54.735,109.2325,83.8400,234.99250,360.7525,528.4325,NaN,NaN,NaN
996042490.0,15.9900,34.490,93.4900,77.5000,209.74000,325.9900,480.9900,{792845450.0: 1500.0},{792845450.0: 1500.0},{792845450.0: 1500.0}
998390769.0,14.9900,69.980,131.7750,116.7850,306.95250,482.1300,715.7000,NaN,NaN,NaN
998405607.0,15.9900,41.305,100.0000,84.0100,226.01500,352.0300,520.0500,NaN,NaN,NaN
999752672.0,6.0500,18.445,108.9025,102.8525,263.18125,417.4600,623.1650,{211493028.0: 680.0},{211493028.0: 680.0},{211493028.0: 680.0}

### Creating thresholds for each user to business transactions

In [160]:
# For Threshold 1 (1.5 * IQR)
thresholds_1 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Name']).groupby(['Account No', 'Third Party Name']).apply(lambda group: calculate_thresholds(group, 1.5)).reset_index(name='Threshold_1')
thresholds_structured_1 = thresholds_1.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Name'], x['Threshold_1']))).to_dict()

# For Threshold 2 (3 * IQR)
thresholds_2 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Name']).groupby(['Account No', 'Third Party Name']).apply(lambda group: calculate_thresholds(group, 3)).reset_index(name='Threshold_2')
thresholds_structured_2 = thresholds_2.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Name'], x['Threshold_2']))).to_dict()

# For Threshold 3 (5 * IQR)
thresholds_3 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Name']).groupby(['Account No', 'Third Party Name']).apply(lambda group: calculate_thresholds(group, 5)).reset_index(name='Threshold_3')
thresholds_structured_3 = thresholds_3.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Name'], x['Threshold_3']))).to_dict()

anomaly_detection_by_expenditures_df['Business_Threshold_1'] = anomaly_detection_by_expenditures_df.index.map(lambda x: thresholds_structured_1.get(x, np.nan))
anomaly_detection_by_expenditures_df['Business_Threshold_2'] = anomaly_detection_by_expenditures_df.index.map(lambda x: thresholds_structured_2.get(x, np.nan))
anomaly_detection_by_expenditures_df['Business_Threshold_3'] = anomaly_detection_by_expenditures_df.index.map(lambda x: thresholds_structured_3.get(x, np.nan))

anomaly_detection_by_expenditures_df

,0.25,0.5,0.75,IQR,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,Third_Party_Account_Threshold_1,Third_Party_Account_Threshold_2,Third_Party_Account_Threshold_3,Business_Threshold_1,Business_Threshold_2,Business_Threshold_3
Account No,,,,,,,,,,,,,
101531259.0,27.9675,88.580,117.7825,89.8150,252.50500,387.2275,566.8575,NaN,NaN,NaN,"{'Brilliant Brushes': 85.97999999999999, 'Deli...","{'Brilliant Brushes': 124.97999999999999, 'Del...","{'Brilliant Brushes': 176.97999999999996, 'Del..."
104832000.0,24.2775,50.950,117.4050,93.1275,257.09625,396.7875,583.0425,{587923845.0: 670.0},{587923845.0: 670.0},{587923845.0: 670.0},"{'A Cut Above': 200.0, 'Blizzard': 14.99, 'Boo...","{'A Cut Above': 200.0, 'Blizzard': 14.99, 'Boo...","{'A Cut Above': 200.0, 'Blizzard': 14.99, 'Boo..."
105375973.0,18.9900,46.030,114.0850,95.0950,256.72750,399.3700,589.5600,NaN,NaN,NaN,"{'AMAZON': 36.06, 'Amazon': 7.99, 'Blackwell's...","{'AMAZON': 36.06, 'Amazon': 7.99, 'Blackwell's...","{'AMAZON': 36.06, 'Amazon': 7.99, 'Blackwell's..."
106601471.0,10.9200,21.970,44.5000,33.5800,94.87000,145.2400,212.4000,NaN,NaN,NaN,"{'AMAZON': 3.1950000000000003, 'Amazon': 102.7...","{'AMAZON': 3.2475000000000005, 'Amazon': 145.3...","{'AMAZON': 3.317500000000001, 'Amazon': 202.13..."
108481285.0,9.4400,20.970,44.9200,35.4800,98.14000,151.3600,222.3200,{913801979.0: 2185.0},{913801979.0: 2552.5},{913801979.0: 3042.5},"{'AMAZON': 38.41, 'Amazon': 35.025000000000006...","{'AMAZON': 53.8, 'Amazon': 51.27000000000001, ...","{'AMAZON': 74.32, 'Amazon': 72.93, 'Blackwell'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995615876.0,25.3925,54.735,109.2325,83.8400,234.99250,360.7525,528.4325,NaN,NaN,NaN,"{'Blizzard': 14.99, 'Deliveroo': 33.9574999999...","{'Blizzard': 14.99, 'Deliveroo': 34.37, 'Fat F...","{'Blizzard': 14.99, 'Deliveroo': 34.9199999999..."
996042490.0,15.9900,34.490,93.4900,77.5000,209.74000,325.9900,480.9900,{792845450.0: 1500.0},{792845450.0: 1500.0},{792845450.0: 1500.0},"{'Blackwell's': 41.94, 'Blizzard': 14.99, 'Boo...","{'Blackwell's': 50.925, 'Blizzard': 14.99, 'Bo...","{'Blackwell's': 62.90499999999999, 'Blizzard':..."
998390769.0,14.9900,69.980,131.7750,116.7850,306.95250,482.1300,715.7000,NaN,NaN,NaN,"{'Amazon': 5.99, 'Blizzard': 14.99, 'Deliveroo...","{'Amazon': 5.99, 'Blizzard': 14.99, 'Deliveroo...","{'Amazon': 5.99, 'Blizzard': 14.99, 'Deliveroo..."
998405607.0,15.9900,41.305,100.0000,84.0100,226.01500,352.0300,520.0500,NaN,NaN,NaN,"{'Blackwell's': 32.96, 'Blizzard': 14.99, 'Del...","{'Blackwell's': 32.96, 'Blizzard': 14.99, 'Del...","{'Blackwell's': 32.96, 'Blizzard': 14.99, 'Del..."
999752672.0,6.0500,18.445,108.9025,102.8525,263.18125,417.4600,623.1650,{211493028.0: 680.0},{211493028.0: 680.0},{211493028.0: 680.0},"{'AMAZON': 11.6, 'Coffee #1': 8.14999999999999...","{'AMAZON': 11.6, 'Coffee #1': 9.79999999999999...","{'AMAZON': 11.6, 'Coffee #1': 11.9999999999999..."

In [161]:
# Extracting keys from 'transfer_to_accounts_threshold_1_IQR' to create 'user_user_interaction'
anomaly_detection_by_expenditures_df['user_user_interaction'] = anomaly_detection_by_expenditures_df['Third_Party_Account_Threshold_1'].apply(lambda x: list(x.keys()) if isinstance(x, dict) else None)

# Extracting keys from 'industry_threshold_1_IQR' to create 'user_industry_interaction'
anomaly_detection_by_expenditures_df['user_business_interaction'] = anomaly_detection_by_expenditures_df['Business_Threshold_1'].apply(lambda x: list(x.keys()) if isinstance(x, dict) else None)

anomaly_detection_by_expenditures_df

,0.25,0.5,0.75,IQR,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,Third_Party_Account_Threshold_1,Third_Party_Account_Threshold_2,Third_Party_Account_Threshold_3,Business_Threshold_1,Business_Threshold_2,Business_Threshold_3,user_user_interaction,user_business_interaction
Account No,,,,,,,,,,,,,,,
101531259.0,27.9675,88.580,117.7825,89.8150,252.50500,387.2275,566.8575,NaN,NaN,NaN,"{'Brilliant Brushes': 85.97999999999999, 'Deli...","{'Brilliant Brushes': 124.97999999999999, 'Del...","{'Brilliant Brushes': 176.97999999999996, 'Del...",None,"[Brilliant Brushes, Deliveroo, Disney, Fat Fac..."
104832000.0,24.2775,50.950,117.4050,93.1275,257.09625,396.7875,583.0425,{587923845.0: 670.0},{587923845.0: 670.0},{587923845.0: 670.0},"{'A Cut Above': 200.0, 'Blizzard': 14.99, 'Boo...","{'A Cut Above': 200.0, 'Blizzard': 14.99, 'Boo...","{'A Cut Above': 200.0, 'Blizzard': 14.99, 'Boo...",[587923845.0],"[A Cut Above, Blizzard, Boots, Deliveroo, Etsy..."
105375973.0,18.9900,46.030,114.0850,95.0950,256.72750,399.3700,589.5600,NaN,NaN,NaN,"{'AMAZON': 36.06, 'Amazon': 7.99, 'Blackwell's...","{'AMAZON': 36.06, 'Amazon': 7.99, 'Blackwell's...","{'AMAZON': 36.06, 'Amazon': 7.99, 'Blackwell's...",None,"[AMAZON, Amazon, Blackwell's, Coop Local, Deli..."
106601471.0,10.9200,21.970,44.5000,33.5800,94.87000,145.2400,212.4000,NaN,NaN,NaN,"{'AMAZON': 3.1950000000000003, 'Amazon': 102.7...","{'AMAZON': 3.2475000000000005, 'Amazon': 145.3...","{'AMAZON': 3.317500000000001, 'Amazon': 202.13...",None,"[AMAZON, Amazon, Blackwell's, Blizzard, Boots,..."
108481285.0,9.4400,20.970,44.9200,35.4800,98.14000,151.3600,222.3200,{913801979.0: 2185.0},{913801979.0: 2552.5},{913801979.0: 3042.5},"{'AMAZON': 38.41, 'Amazon': 35.025000000000006...","{'AMAZON': 53.8, 'Amazon': 51.27000000000001, ...","{'AMAZON': 74.32, 'Amazon': 72.93, 'Blackwell'...",[913801979.0],"[AMAZON, Amazon, Blackwell's, Boots, Brilliant..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995615876.0,25.3925,54.735,109.2325,83.8400,234.99250,360.7525,528.4325,NaN,NaN,NaN,"{'Blizzard': 14.99, 'Deliveroo': 33.9574999999...","{'Blizzard': 14.99, 'Deliveroo': 34.37, 'Fat F...","{'Blizzard': 14.99, 'Deliveroo': 34.9199999999...",None,"[Blizzard, Deliveroo, Fat Face, Gamestation, J..."
996042490.0,15.9900,34.490,93.4900,77.5000,209.74000,325.9900,480.9900,{792845450.0: 1500.0},{792845450.0: 1500.0},{792845450.0: 1500.0},"{'Blackwell's': 41.94, 'Blizzard': 14.99, 'Boo...","{'Blackwell's': 50.925, 'Blizzard': 14.99, 'Bo...","{'Blackwell's': 62.90499999999999, 'Blizzard':...",[792845450.0],"[Blackwell's, Blizzard, Boots, Brilliant Brush..."
998390769.0,14.9900,69.980,131.7750,116.7850,306.95250,482.1300,715.7000,NaN,NaN,NaN,"{'Amazon': 5.99, 'Blizzard': 14.99, 'Deliveroo...","{'Amazon': 5.99, 'Blizzard': 14.99, 'Deliveroo...","{'Amazon': 5.99, 'Blizzard': 14.99, 'Deliveroo...",None,"[Amazon, Blizzard, Deliveroo, Disney, Fat Face..."
998405607.0,15.9900,41.305,100.0000,84.0100,226.01500,352.0300,520.0500,NaN,NaN,NaN,"{'Blackwell's': 32.96, 'Blizzard': 14.99, 'Del...","{'Blackwell's': 32.96, 'Blizzard': 14.99, 'Del...","{'Blackwell's': 32.96, 'Blizzard': 14.99, 'Del...",None,"[Blackwell's, Blizzard, Deliveroo, Fat Face, F..."
999752672.0,6.0500,18.445,108.9025,102.8525,263.18125,417.4600,623.1650,{211493028.0: 680.0},{211493028.0: 680.0},{211493028.0: 680.0},"{'AMAZON': 11.6, 'Coffee #1': 8.14999999999999...","{'AMAZON': 11.6, 'Coffee #1': 9.79999999999999...","{'AMAZON': 11.6, 'Coffee #1': 11.9999999999999...",[211493028.0],"[AMAZON, Coffee #1, Coop Local, Deliveroo, Ets..."

## Risk flagging function- per user transaction

In [162]:
testing_transactions

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime
50365,14/03/2023,18:33:00,712474734.0,-1324.548831,-31.23,NaN,Deliveroo,2023-03-14 18:33:00
50317,14/03/2023,17:28:00,419550103.0,6544.593463,-125.30,NaN,Loosely Fitted,2023-03-14 17:28:00
156768,31/08/2023,23:59:00,834581602.0,925.931550,-7.00,NaN,Xbox,2023-08-31 23:59:00
198076,31/10/2023,09:27:00,250957494.0,1090.427100,-37.99,NaN,Sports Direct,2023-10-31 09:27:00
46751,05/03/2023,16:34:00,675231808.0,4038.532728,-158.90,NaN,Selfridges,2023-03-05 16:34:00
...,...,...,...,...,...,...,...,...
146741,16/08/2023,10:05:00,779946617.0,13089.944442,-4.84,NaN,AMAZON,2023-08-16 10:05:00
99244,02/06/2023,10:01:00,497809732.0,1214.287223,-1.50,NaN,Five Senses Art,2023-06-02 10:01:00
165435,10/09/2023,17:00:00,146909202.0,4552.412277,-77.00,NaN,Topshop,2023-09-10 17:00:00
125773,16/07/2023,07:12:00,678330503.0,4077.564304,-1.56,NaN,Amazon,2023-07-16 07:12:00
203041,31/10/2023,23:59:00,490790931.0,590.227650,-15.99,NaN,Netflix,2023-10-31 23:59:00

In [163]:
def get_threshold_value(user_data, key, business=None):
    value = user_data.get(key, 0)
    if isinstance(value, dict):
        return value.get(business, float('inf'))

def assess_transaction_risk(account_no, amount, third_party_account_no, third_party_name, anomaly_detection_df):
    if amount >= 0:  # Skip payments
        return "Not Applicable"
    
    # Convert the amount to positive for comparison
    amount = abs(amount)
    risk_level = "No Risk"
    user_data = anomaly_detection_df.loc[account_no].to_dict()

    
    # Initialise interactions as empty lists to ensure they're iterable
    user_user_interaction = user_data.get('user_user_interaction', []) or []
    user_business_interaction = user_data.get('user_business_interaction', []) or []
    
    # Check if third_party_account_no is not None and is in user_user_interaction
    if third_party_account_no and third_party_account_no in user_user_interaction:
        thresholds = [
            get_threshold_value(user_data, 'Third_Party_Account_Threshold_1', third_party_account_no),
            get_threshold_value(user_data, 'Third_Party_Account_Threshold_2', third_party_account_no),
            get_threshold_value(user_data, 'Third_Party_Account_Threshold_3', third_party_account_no)
        ]
    # Check if industry_category is determined and in user_industry_interaction
    elif third_party_name and third_party_name in user_business_interaction:
        thresholds = [
            get_threshold_value(user_data, 'Business_Threshold_1', third_party_name),
            get_threshold_value(user_data, 'Business_Threshold_2', third_party_name),
            get_threshold_value(user_data, 'Business_Threshold_3', third_party_name)
        ]
    else:
        # Use general thresholds if no specific interaction is found
        thresholds = [user_data['Overall_Threshold_1_IQR'], user_data['Overall_Threshold_2_IQR'], user_data['Overall_Threshold_3_IQR']]
    
    low_risk_floor = 15
    medium_risk_floor = 50
    high_risk_floor = 100
    
    if amount > thresholds[2]:
        risk_level = "High Risk"
    elif amount > thresholds[1]:
        risk_level = "Medium Risk"
    elif amount > thresholds[0]:
        risk_level = "Low Risk"
    
    # Adjusting risk level based on the floor values
    if risk_level == "Low Risk" and amount <= low_risk_floor:
        risk_level = "No Risk"
    elif risk_level == "Medium Risk" and amount <= low_risk_floor:
        risk_level = "No Risk"
    elif risk_level == "High Risk" and amount <= low_risk_floor:
        risk_level = "No Risk"
    elif risk_level == "Medium Risk" and amount <= medium_risk_floor:
        risk_level = "Low Risk"
    elif risk_level == "High Risk" and amount <= medium_risk_floor:
        risk_level = "Low Risk"
    elif risk_level == "High Risk" and amount <= high_risk_floor:
        risk_level = "Medium Risk"
    
    return risk_level

risk_levels = [
    assess_transaction_risk(
        row['Account No'], row['Amount'], row.get('Third Party Account No'), row['Third Party Name'],
        anomaly_detection_by_expenditures_df
    ) for index, row in testing_transactions.iterrows()
]

testing_transactions['risk_level'] = risk_levels


testing_transactions

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,risk_level
50365,14/03/2023,18:33:00,712474734.0,-1324.548831,-31.23,NaN,Deliveroo,2023-03-14 18:33:00,No Risk
50317,14/03/2023,17:28:00,419550103.0,6544.593463,-125.30,NaN,Loosely Fitted,2023-03-14 17:28:00,No Risk
156768,31/08/2023,23:59:00,834581602.0,925.931550,-7.00,NaN,Xbox,2023-08-31 23:59:00,No Risk
198076,31/10/2023,09:27:00,250957494.0,1090.427100,-37.99,NaN,Sports Direct,2023-10-31 09:27:00,No Risk
46751,05/03/2023,16:34:00,675231808.0,4038.532728,-158.90,NaN,Selfridges,2023-03-05 16:34:00,No Risk
...,...,...,...,...,...,...,...,...,...
146741,16/08/2023,10:05:00,779946617.0,13089.944442,-4.84,NaN,AMAZON,2023-08-16 10:05:00,No Risk
99244,02/06/2023,10:01:00,497809732.0,1214.287223,-1.50,NaN,Five Senses Art,2023-06-02 10:01:00,No Risk
165435,10/09/2023,17:00:00,146909202.0,4552.412277,-77.00,NaN,Topshop,2023-09-10 17:00:00,No Risk
125773,16/07/2023,07:12:00,678330503.0,4077.564304,-1.56,NaN,Amazon,2023-07-16 07:12:00,No Risk
203041,31/10/2023,23:59:00,490790931.0,590.227650,-15.99,NaN,Netflix,2023-10-31 23:59:00,No Risk

In [164]:
risk_level_counts = testing_transactions['risk_level'].value_counts()
print(risk_level_counts)

No Risk           20880
Not Applicable     1045
Low Risk            660
Medium Risk         230
High Risk           105
Name: risk_level, dtype: int64

In [165]:
# Filter for Low Risk transactions
low_risk_transactions = testing_transactions[testing_transactions['risk_level'] == 'Low Risk']

# Filter for Medium Risk transactions
medium_risk_transactions = testing_transactions[testing_transactions['risk_level'] == 'Medium Risk']

# Filter for High Risk transactions
high_risk_transactions = testing_transactions[testing_transactions['risk_level'] == 'High Risk']

# Filter for Not Applicable transactions
not_applicable_transactions = testing_transactions[testing_transactions['risk_level'] == 'Not Applicable']

In [166]:
low_risk_transactions

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,risk_level
141449,06/08/2023,03:33:00,496395938.0,11089.827658,-88.40,NaN,Loosely Fitted,2023-08-06 03:33:00,Low Risk
175960,30/09/2023,10:48:00,930277104.0,11141.312949,-235.20,NaN,Fat Face,2023-09-30 10:48:00,Low Risk
145302,13/08/2023,12:17:00,541639148.0,4904.981751,-130.89,NaN,Fat Face,2023-08-13 12:17:00,Low Risk
124005,12/07/2023,06:01:00,128033695.0,4233.570223,-25.98,NaN,Sainsbury Local,2023-07-12 06:01:00,Low Risk
207582,07/11/2023,17:50:00,419550103.0,19447.397141,-114.08,NaN,Sports Direct,2023-11-07 17:50:00,Low Risk
...,...,...,...,...,...,...,...,...,...
9457,08/01/2023,15:12:00,424927189.0,1595.692850,-158.50,NaN,Topshop,2023-01-08 15:12:00,Low Risk
52483,20/03/2023,12:30:00,355733816.0,2150.158104,-25.20,NaN,JustEat,2023-03-20 12:30:00,Low Risk
37637,26/02/2023,13:05:00,532525712.0,11.868100,-35.45,NaN,JustEat,2023-02-26 13:05:00,Low Risk
62729,02/04/2023,04:54:00,752362502.0,5349.850350,-34.14,NaN,Deliveroo,2023-04-02 04:54:00,Low Risk
99105,02/06/2023,03:26:00,537487133.0,-18.794650,-40.80,NaN,Deliveroo,2023-06-02 03:26:00,Low Risk

In [167]:
medium_risk_transactions.head(50)

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,risk_level
127144,19/07/2023,07:42:00,893134725.0,1472.105063,-71.96,NaN,Sainsbury Local,2023-07-19 07:42:00,Medium Risk
14645,18/01/2023,17:22:00,643610517.0,-219.303691,-136.49,NaN,Fat Face,2023-01-18 17:22:00,Medium Risk
106536,17/06/2023,13:29:00,303843160.0,968.263000,-208.60,NaN,Topshop,2023-06-17 13:29:00,Medium Risk
186321,09/10/2023,18:10:00,897592348.0,14606.655986,-221.20,NaN,Matalan,2023-10-09 18:10:00,Medium Risk
72788,26/04/2023,18:43:00,901432314.0,2628.057097,-99.97,NaN,Hobby Lobby,2023-04-26 18:43:00,Medium Risk
176306,30/09/2023,18:26:00,316793091.0,1641.014310,-51.49,NaN,Hobby Lobby,2023-09-30 18:26:00,Medium Risk
148227,19/08/2023,11:14:00,769311479.0,6271.315161,-289.07,NaN,Fat Face,2023-08-19 11:14:00,Medium Risk
169455,18/09/2023,18:38:00,660874296.0,1440.477450,-64.97,NaN,Hobby Lobby,2023-09-18 18:38:00,Medium Risk
89180,22/05/2023,05:06:00,534325901.0,3685.871055,-52.65,NaN,Matalan,2023-05-22 05:06:00,Medium Risk
34190,17/02/2023,12:59:00,456246119.0,4766.389594,-166.57,NaN,Selfridges,2023-02-17 12:59:00,Medium Risk
102562,08/06/2023,17:58:00,639409800.0,20226.976236,-182.15,NaN,Sports Direct,2023-06-08 17:58:00,Medium Risk
213074,18/11/2023,04:26:00,940569402.0,4872.961427,-74.89,NaN,Amazon,2023-11-18 04:26:00,Medium Risk
110539,26/06/2023,13:29:00,298000165.0,15831.721719,-55.93,NaN,Amazon,2023-06-26 13:29:00,Medium Risk
10947,11/01/2023,10:42:00,564214408.0,626.993300,-79.97,NaN,Five Senses Art,2023-01-11 10:42:00,Medium Risk
138648,01/08/2023,09:47:00,549414742.0,7376.005562,-125.31,NaN,Five Senses Art,2023-08-01 09:47:00,Medium Risk
106803,18/06/2023,09:10:00,277562576.0,778.982855,-110.00,683312574.0,NaN,2023-06-18 09:10:00,Medium Risk
111430,28/06/2023,17:39:00,506618547.0,8827.194853,-200.38,NaN,Sports Direct,2023-06-28 17:39:00,Medium Risk
9531,08/01/2023,16:50:00,197779140.0,296.610000,-55.00,NaN,Loosely Fitted,2023-01-08 16:50:00,Medium Risk
26474,01/02/2023,10:28:00,821971408.0,2410.287740,-52.61,NaN,Sainsbury,2023-02-01 10:28:00,Medium Risk
63445,03/04/2023,10:02:00,892354433.0,-59.664861,-94.98,NaN,Sports Direct,2023-04-03 10:02:00,Medium Risk
15617,21/01/2023,08:21:00,190874125.0,1281.543014,-53.95,NaN,Sainsbury,2023-01-21 08:21:00,Medium Risk
184168,06/10/2023,04:11:00,506618547.0,17481.566860,-74.25,NaN,Selfridges,2023-10-06 04:11:00,Medium Risk
12529,14/01/2023,12:11:00,734161378.0,337.289308,-75.97,NaN,Brilliant Brushes,2023-01-14 12:11:00,Medium Risk
161385,03/09/2023,12:07:00,845648250.0,317.935550,-79.92,NaN,Tesco,2023-09-03 12:07:00,Medium Risk
203653,01/11/2023,10:47:00,519649533.0,-100.418184,-189.00,NaN,Fitted Stitch,2023-11-01 10:47:00,Medium Risk
16928,23/01/2023,13:14:00,452974357.0,-222.841450,-74.51,NaN,Tesco,2023-01-23 13:14:00,Medium Risk
193000,22/10/2023,13:07:00,633345190.0,5953.221965,-230.30,NaN,Selfridges,2023-10-22 13:07:00,Medium Risk
46391,05/03/2023,10:50:00,471897866.0,4291.625226,-76.93,NaN,Wool,2023-03-05 10:50:00,Medium Risk
19457,29/01/2023,12:13:00,217540156.0,159.273680,-50.14,NaN,Gamestation,2023-01-29 12:13:00,Medium Risk
39115,28/02/2023,11:48:00,383345285.0,284.430476,-133.98,NaN,Loosely Fitted,2023-02-28 11:48:00,Medium Risk
9840,09/01/2023,11:14:00,527842638.0,383.458200,-51.49,NaN,Brilliant Brushes,2023-01-09 11:14:00,Medium Risk
175665,30/09/2023,08:59:00,624500124.0,2844.349670,-87.86,NaN,Amazon,2023-09-30 08:59:00,Medium Risk
72982,27/04/2023,11:30:00,849096144.0,2141.694583,-157.47,NaN,Loosely Fitted,2023-04-27 11:30:00,Medium Risk
195678,28/10/2023,05:23:00,522188082.0,7064.938789,-74.77,NaN,Sainsbury,2023-10-28 05:23:00,Medium Risk
67716,14/04/2023,04:18:00,656812046.0,2042.963470,-63.21,NaN,Sainsbury,2023-04-14 04:18:00,Medium Risk
48687,10/03/2023,18:16:00,229205098.0,4497.048167,-199.50,NaN,Topshop,2023-03-10 18:16:00,Medium Risk
64526,05/04/2023,21:59:00,310375875.0,2466.877073,-75.33,NaN,Selfridges,2023-04-05 21:59:00,Medium Risk
81552,04/05/2023,06:43:00,234952520.0,-875.200750,-50.24,NaN,Deliveroo,2023-05-04 06:43:00,Medium Risk
208821,10/11/2023,05:46:00,730002588.0,14148.229842,-62.40,NaN,Fitted Stitch,2023-11-10 05:46:00,Medium Risk
214894,21/11/2023,06:14:00,951817450.0,9200.308323,-50.92,NaN,Lloyds Pharmacy,2023-11-21 06:14:00,Medium Risk
104044,12/06/2023,06:31:00,355733816.0,3139.791295,-75.09,NaN,Amazon,2023-06-12 06:31:00,Medium Risk
108120,20/06/2023,21:14:00,179173981.0,4517.381456,-62.82,NaN,Etsy,2023-06-20 21:14:00,Medium Risk
11056,11/01/2023,14:09:00,856461967.0,1503.379000,-174.27,NaN,Topshop,2023-01-11 14:09:00,Medium Risk
191282,19/10/2023,08:54:00,331450202.0,6948.101068,-69.94,NaN,Coop Local,2023-10-19 08:54:00,Medium Risk
121750,07/07/2023,19:03:00,355602925.0,1351.191816,-65.76,NaN,Fitted Stitch,2023-07-07 19:03:00,Medium Risk
218714,28/11/2023,13:35:00,305778936.0,9496.354474,-270.89,NaN,Revella,2023-11-28 13:35:00,Medium Risk
8169,06/01/2023,11:31:00,406862520.0,1314.638388,-70.00,NaN,Sports Direct,2023-01-06 11:31:00,Medium Risk
39020,28/02/2023,10:40:00,738958551.0,2398.535800,-99.98,NaN,CeX,2023-02-28 10:40:00,Medium Risk
62876,02/04/2023,10:50:00,581618317.0,-2999.841702,-115.35,NaN,Tesco,2023-04-02 10:50:00,Medium Risk
36155,22/02/2023,11:54:00,168414279.0,-1711.197716,-161.09,NaN,Tesco,2023-02-22 11:54:00,Medium Risk

In [173]:
high_risk_transactions.head(50)

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,risk_level
105470,15/06/2023,12:13:00,961077907.0,712.746850,-119.62,NaN,Fat Face,2023-06-15 12:13:00,High Risk
107134,18/06/2023,16:11:00,383345285.0,363.732176,-112.98,NaN,Sports Direct,2023-06-18 16:11:00,High Risk
98684,01/06/2023,10:20:00,627936697.0,1140.717600,-193.50,NaN,Topshop,2023-06-01 10:20:00,High Risk
17541,24/01/2023,19:54:00,994214354.0,980.830000,-1870.00,534204159.0,NaN,2023-01-24 19:54:00,High Risk
28469,04/02/2023,17:11:00,478651121.0,648.543830,-197.00,NaN,Matalan,2023-02-04 17:11:00,High Risk
85382,12/05/2023,18:39:00,124102251.0,2936.246955,-217.70,NaN,Matalan,2023-05-12 18:39:00,High Risk
6859,03/01/2023,17:39:00,261894284.0,-53.383600,-119.97,NaN,Gamestation,2023-01-03 17:39:00,High Risk
66473,10/04/2023,18:17:00,126929801.0,1545.651881,-135.83,NaN,Hobby Lobby,2023-04-10 18:17:00,High Risk
63178,02/04/2023,15:16:00,938992364.0,208.798654,-233.09,NaN,Revella,2023-04-02 15:16:00,High Risk
38042,27/02/2023,17:37:00,536924114.0,973.699944,-129.97,NaN,Gamestation,2023-02-27 17:37:00,High Risk
55791,30/03/2023,11:04:00,767447966.0,2309.833960,-159.60,NaN,Revella,2023-03-30 11:04:00,High Risk
141565,06/08/2023,09:35:00,647472692.0,19984.912757,-118.30,NaN,Matalan,2023-08-06 09:35:00,High Risk
140327,03/08/2023,21:29:00,593378953.0,2601.922700,-1190.00,985188462.0,NaN,2023-08-03 21:29:00,High Risk
27181,02/02/2023,13:37:00,848118081.0,-240.202798,-308.00,NaN,Revella,2023-02-02 13:37:00,High Risk
124559,13/07/2023,09:40:00,637649383.0,622.970250,-191.99,NaN,Loosely Fitted,2023-07-13 09:40:00,High Risk
80223,01/05/2023,11:05:00,886921642.0,3625.267203,-186.86,NaN,Matalan,2023-05-01 11:05:00,High Risk
113074,30/06/2023,18:14:00,398429109.0,1228.331950,-1770.00,961077907.0,NaN,2023-06-30 18:14:00,High Risk
68422,15/04/2023,16:13:00,408057540.0,4802.097488,-231.00,NaN,Revella,2023-04-15 16:13:00,High Risk
30403,08/02/2023,15:16:00,993238248.0,-34.255487,-138.49,NaN,Revella,2023-02-08 15:16:00,High Risk
49892,13/03/2023,17:01:00,603721739.0,1303.337424,-127.98,NaN,Grand Union BJJ,2023-03-13 17:01:00,High Risk
207559,07/11/2023,17:32:00,511179916.0,7953.680328,-103.60,NaN,Fat Face,2023-11-07 17:32:00,High Risk
118444,01/07/2023,13:15:00,478986718.0,-1257.359500,-144.50,NaN,Matalan,2023-07-01 13:15:00,High Risk
164680,09/09/2023,12:19:00,277562576.0,650.736251,-135.00,NaN,Loosely Fitted,2023-09-09 12:19:00,High Risk
46758,05/03/2023,16:42:00,616924659.0,-1077.635420,-134.00,NaN,Fat Face,2023-03-05 16:42:00,High Risk
164639,09/09/2023,11:34:00,704517789.0,15927.303640,-220.50,NaN,Revella,2023-09-09 11:34:00,High Risk
19113,28/01/2023,14:28:00,204855464.0,610.816222,-233.00,NaN,Topshop,2023-01-28 14:28:00,High Risk
167365,14/09/2023,16:51:00,996042490.0,4636.478046,-186.87,NaN,Topshop,2023-09-14 16:51:00,High Risk
130586,26/07/2023,16:50:00,679662108.0,9296.877583,-233.79,NaN,Revella,2023-07-26 16:50:00,High Risk
19498,29/01/2023,12:50:00,576188756.0,177.224050,-115.00,NaN,Topshop,2023-01-29 12:50:00,High Risk
47674,08/03/2023,09:19:00,688712152.0,3137.563072,-400.00,518466565.0,NaN,2023-03-08 09:19:00,High Risk
175817,30/09/2023,09:53:00,555393405.0,-79.104800,-134.85,NaN,Wool,2023-09-30 09:53:00,High Risk
91999,29/05/2023,08:40:00,629078930.0,209.034897,-660.00,518746136.0,NaN,2023-05-29 08:40:00,High Risk
151000,25/08/2023,10:09:00,407574996.0,1462.331610,-205.10,NaN,Selfridges,2023-08-25 10:09:00,High Risk
10764,11/01/2023,03:37:00,978410962.0,996.003176,-790.00,307358402.0,NaN,2023-01-11 03:37:00,High Risk
196538,29/10/2023,12:37:00,130154096.0,994.995002,-142.50,NaN,Matalan,2023-10-29 12:37:00,High Risk
145871,14/08/2023,15:11:00,399538448.0,6059.043314,-192.50,NaN,Loosely Fitted,2023-08-14 15:11:00,High Risk
159912,01/09/2023,12:20:00,845648250.0,793.245250,-152.99,NaN,Topshop,2023-09-01 12:20:00,High Risk
212884,17/11/2023,17:08:00,660874296.0,1153.547450,-1910.00,280098744.0,NaN,2023-11-17 17:08:00,High Risk
10340,10/01/2023,09:30:00,224524792.0,1167.742536,-174.98,NaN,Sports Direct,2023-01-10 09:30:00,High Risk
92238,29/05/2023,18:09:00,532478725.0,3635.876474,-310.80,NaN,Fitted Stitch,2023-05-29 18:09:00,High Risk
16397,22/01/2023,12:08:00,979122276.0,1150.517368,-177.10,NaN,Topshop,2023-01-22 12:08:00,High Risk
19054,28/01/2023,13:21:00,493571342.0,97.215619,-229.60,NaN,Fat Face,2023-01-28 13:21:00,High Risk
9389,08/01/2023,13:58:00,224112146.0,866.647250,-109.97,NaN,Gamestation,2023-01-08 13:58:00,High Risk
124377,13/07/2023,01:20:00,857997794.0,502.125665,-320.00,654329190.0,NaN,2023-07-13 01:20:00,High Risk
80860,02/05/2023,13:38:00,711140907.0,751.839450,-154.99,NaN,Revella,2023-05-02 13:38:00,High Risk
10978,11/01/2023,11:32:00,537487133.0,1417.649350,-129.97,NaN,CeX,2023-01-11 11:32:00,High Risk
34955,19/02/2023,11:52:00,215426302.0,1610.962404,-331.09,NaN,Matalan,2023-02-19 11:52:00,High Risk
83912,09/05/2023,08:09:00,519933553.0,298.173004,-1010.00,335698481.0,NaN,2023-05-09 08:09:00,High Risk
162532,05/09/2023,10:59:00,818552503.0,749.100900,-168.49,NaN,Topshop,2023-09-05 10:59:00,High Risk
147171,17/08/2023,09:45:00,767447966.0,4614.031175,-107.80,NaN,Revella,2023-08-17 09:45:00,High Risk

In [174]:
filtered = anomaly_detection_by_expenditures_df.loc[anomaly_detection_by_expenditures_df.index== 835736339.0]
filtered

,0.25,0.5,0.75,IQR,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,Third_Party_Account_Threshold_1,Third_Party_Account_Threshold_2,Third_Party_Account_Threshold_3,Business_Threshold_1,Business_Threshold_2,Business_Threshold_3,user_user_interaction,user_business_interaction
Account No,,,,,,,,,,,,,,,
835736339.0,14.99,31.99,68.985,53.995,149.9775,230.97,338.96,"{175452235.0: 1310.0, 799306089.0: 130.0}","{175452235.0: 1310.0, 799306089.0: 130.0}","{175452235.0: 1310.0, 799306089.0: 130.0}","{'AMAZON': 26.09, 'Amazon': 20.575000000000003...","{'AMAZON': 26.09, 'Amazon': 30.715000000000003...","{'AMAZON': 26.09, 'Amazon': 44.23500000000001,...","[175452235.0, 799306089.0]","[AMAZON, Amazon, Blackwell's, Blizzard, Brilli..."

In [176]:
copied_simulated_tx_df

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime
0,01/01/2023,00:00:00,678330503.0,2971.000000,1584.00,NaN,Westport Care Home,2023-01-01 00:00:00
1,01/01/2023,00:00:00,472213568.0,3792.000000,1950.00,NaN,Barbiee Boutique,2023-01-01 00:00:00
2,01/01/2023,00:00:00,472213568.0,3012.000000,-780.00,283027736.0,NaN,2023-01-01 00:00:00
3,01/01/2023,00:00:00,283027736.0,1787.000000,780.00,472213568.0,NaN,2023-01-01 00:00:00
4,01/01/2023,00:00:00,624500124.0,3226.000000,1825.00,NaN,Fat Face,2023-01-01 00:00:00
...,...,...,...,...,...,...,...,...
229189,06/12/2023,20:54:00,581655972.0,45935.206861,-41.06,NaN,Tesco,2023-12-06 20:54:00
229190,06/12/2023,20:55:00,786141370.0,-244.837500,-62.35,NaN,Sainsbury Local,2023-12-06 20:55:00
229191,06/12/2023,21:05:00,824916823.0,9709.172159,-32.94,NaN,Deliveroo,2023-12-06 21:05:00
229192,06/12/2023,21:13:00,366550080.0,26834.165794,-19.25,NaN,Amazon,2023-12-06 21:13:00
229193,06/12/2023,21:32:00,259015404.0,1145.349837,-37.64,NaN,JustEat,2023-12-06 21:32:00

In [ ]:
filtered_df = copied_simulated_tx_df[(copied_simulated_tx_df['Account No'] == 835736339.0) & (copied_simulated_tx_df['Third Party Account No'] == 175452235.0)]
filtered_df

## Trialling it but with standard deviations instead of IQR

In [51]:
# Calculate the mean and std for each account
mean_std = expenditures_training_df.groupby('Account No')['Amount'].agg(['mean', 'std'])

# Establishing thresholds based on standard deviations from the mean
mean_std['Threshold_1_STD'] = mean_std['mean'] + mean_std['std'] * 1  # 1 std from the mean
mean_std['Threshold_2_STD'] = mean_std['mean'] + mean_std['std'] * 2  # 2 stds from the mean
mean_std['Threshold_3_STD'] = mean_std['mean'] + mean_std['std'] * 3  # 3 stds from the mean

# Your anomaly detection DataFrame now is mean_std with the standard deviation thresholds
anomaly_detection_by_expenditures_std_df = mean_std

# Renaming the index to 'Account No' if needed
anomaly_detection_by_expenditures_std_df.index.rename('Account No', inplace=True)

anomaly_detection_by_expenditures_std_df

,mean,std,Threshold_1_STD,Threshold_2_STD,Threshold_3_STD
Account No,,,,,
101531259.0,144.838889,233.467999,378.306888,611.774887,845.242886
104832000.0,163.088521,264.414059,427.502580,691.916638,956.330697
105375973.0,65.442164,61.191660,126.633824,187.825485,249.017145
106601471.0,42.777440,54.443285,97.220725,151.664010,206.107295
108481285.0,45.203257,141.339078,186.542334,327.881412,469.220490
...,...,...,...,...,...
995615876.0,103.256101,154.510743,257.766843,412.277586,566.788328
996042490.0,132.843302,307.622930,440.466232,748.089162,1055.712092
998390769.0,159.009848,278.233896,437.243744,715.477640,993.711536
998405607.0,59.445659,54.433578,113.879237,168.312816,222.746394
999752672.0,95.799121,175.361506,271.160627,446.522133,621.883640

In [62]:
def calculate_thresholds_sd(group, multiplier):
    mean = group['Amount'].mean()
    std_dev = group['Amount'].std()
    threshold = mean + (multiplier * std_dev)
    return threshold

In [63]:
# For Threshold 1 (1 * Standard Deviation)
thresholds_1 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Name']).groupby(['Account No', 'Third Party Name']).apply(lambda group: calculate_thresholds_sd(group, 1)).reset_index(name='Threshold_1')
thresholds_structured_1 = thresholds_1.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Name'], x['Threshold_1']))).to_dict()

# For Threshold 2 (2 * Standard Deviation)
thresholds_2 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Name']).groupby(['Account No', 'Third Party Name']).apply(lambda group: calculate_thresholds_sd(group, 2)).reset_index(name='Threshold_2')
thresholds_structured_2 = thresholds_2.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Name'], x['Threshold_2']))).to_dict()

# For Threshold 3 (3 * Standard Deviation)
thresholds_3 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Name']).groupby(['Account No', 'Third Party Name']).apply(lambda group: calculate_thresholds_sd(group, 3)).reset_index(name='Threshold_3')
thresholds_structured_3 = thresholds_3.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Name'], x['Threshold_3']))).to_dict()

In [64]:
anomaly_detection_by_expenditures_std_df['Business_Threshold_1'] = anomaly_detection_by_expenditures_std_df.index.map(lambda x: thresholds_structured_1.get(x, np.nan))
anomaly_detection_by_expenditures_std_df['Business_Threshold_2'] = anomaly_detection_by_expenditures_std_df.index.map(lambda x: thresholds_structured_2.get(x, np.nan))
anomaly_detection_by_expenditures_std_df['Business_Threshold_3'] = anomaly_detection_by_expenditures_std_df.index.map(lambda x: thresholds_structured_3.get(x, np.nan))

In [65]:
# For Threshold 1 (1 * Standard Deviation)
thresholds_1 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Account No']).groupby(['Account No', 'Third Party Account No']).apply(lambda group: calculate_thresholds(group, 1)).reset_index(name='Threshold_1')
thresholds_structured_1 = thresholds_1.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Account No'], x['Threshold_1']))).to_dict()

# For Threshold 2 (2 * Standard Deviation)
thresholds_2 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Account No']).groupby(['Account No', 'Third Party Account No']).apply(lambda group: calculate_thresholds(group, 2)).reset_index(name='Threshold_2')
thresholds_structured_2 = thresholds_2.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Account No'], x['Threshold_2']))).to_dict()

# For Threshold 3 (3 * Standard Deviation)
thresholds_3 = expenditures_training_df.dropna(subset=['Account No', 'Third Party Account No']).groupby(['Account No', 'Third Party Account No']).apply(lambda group: calculate_thresholds(group, 3)).reset_index(name='Threshold_3')
thresholds_structured_3 = thresholds_3.groupby('Account No').apply(lambda x: dict(zip(x['Third Party Account No'], x['Threshold_3']))).to_dict()

In [66]:
anomaly_detection_by_expenditures_std_df['Third_Party_Account_Threshold_1'] = anomaly_detection_by_expenditures_std_df.index.map(lambda x: thresholds_structured_1.get(x, np.nan))
anomaly_detection_by_expenditures_std_df['Third_Party_Account_Threshold_2'] = anomaly_detection_by_expenditures_std_df.index.map(lambda x: thresholds_structured_2.get(x, np.nan))
anomaly_detection_by_expenditures_std_df['Third_Party_Account_Threshold_3'] = anomaly_detection_by_expenditures_std_df.index.map(lambda x: thresholds_structured_3.get(x, np.nan))

In [71]:
# Extracting keys from 'Business_Threshold_1' to create 'user_business_interaction'
anomaly_detection_by_expenditures_std_df['user_business_interaction'] = anomaly_detection_by_expenditures_std_df['Business_Threshold_1'].apply(
    lambda x: [key for key, value in x.items() if not np.isnan(value)] if isinstance(x, dict) else None
)


anomaly_detection_by_expenditures_std_df['user_user_interaction'] = anomaly_detection_by_expenditures_std_df['Third_Party_Account_Threshold_1'].apply(lambda x: list(x.keys()) if isinstance(x, dict) else None)

In [74]:
def get_threshold_value(user_data, key, business=None):
    value = user_data.get(key, 0)
    if isinstance(value, dict):
        return value.get(business, float('inf'))

def assess_transaction_risk(account_no, amount, third_party_account_no, third_party_name, anomaly_detection_df):
    if amount >= 0:  # Skip payments
        return "Not Applicable"
    
    # Convert the amount to positive for comparison
    amount = abs(amount)
    risk_level = "No Risk"
    user_data = anomaly_detection_df.loc[account_no].to_dict()

    
    # Initialise interactions as empty lists to ensure they're iterable
    user_user_interaction = user_data.get('user_user_interaction', []) or []
    user_business_interaction = user_data.get('user_business_interaction', []) or []
    
    # Check if third_party_account_no is not None and is in user_user_interaction
    if third_party_account_no and third_party_account_no in user_user_interaction:
        thresholds = [
            get_threshold_value(user_data, 'Third_Party_Account_Threshold_1', third_party_account_no),
            get_threshold_value(user_data, 'Third_Party_Account_Threshold_2', third_party_account_no),
            get_threshold_value(user_data, 'Third_Party_Account_Threshold_3', third_party_account_no)
        ]
    # Check if industry_category is determined and in user_industry_interaction
    elif third_party_name and third_party_name in user_business_interaction:
        thresholds = [
            get_threshold_value(user_data, 'Business_Threshold_1', third_party_name),
            get_threshold_value(user_data, 'Business_Threshold_2', third_party_name),
            get_threshold_value(user_data, 'Business_Threshold_3', third_party_name)
        ]
    else:
        # Use general thresholds if no specific interaction is found
        thresholds = [user_data['Threshold_1_STD'], user_data['Threshold_2_STD'], user_data['Threshold_3_STD']]
    
    if amount > thresholds[2]:
        risk_level = "High Risk"
    elif amount > thresholds[1]:
        risk_level = "Medium Risk"
    elif amount > thresholds[0]:
        risk_level = "Low Risk"
    
    return risk_level




risk_levels = [
    assess_transaction_risk(
        row['Account No'], row['Amount'], row.get('Third Party Account No'), row['Third Party Name'],
        anomaly_detection_by_expenditures_std_df
    ) for index, row in testing_transactions.iterrows()
]

testing_transactions['risk_level'] = risk_levels


testing_transactions

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,risk_level
110276,26/06/2023,05:13:00,547010927.0,14786.249167,-7.74,NaN,Amazon,2023-06-26 05:13:00,No Risk
113678,01/07/2023,00:00:00,986774156.0,1666.714362,-939.00,NaN,LBG,2023-07-01 00:00:00,No Risk
102644,09/06/2023,03:36:00,183888402.0,13918.517600,-36.25,NaN,JustEat,2023-06-09 03:36:00,No Risk
98481,01/06/2023,08:12:00,822718326.0,6732.194082,-9.13,NaN,Tesco,2023-06-01 08:12:00,No Risk
135544,31/07/2023,23:59:00,494156986.0,-312.797554,-7.99,NaN,Disney,2023-07-31 23:59:00,High Risk
...,...,...,...,...,...,...,...,...,...
55831,30/03/2023,12:53:00,635679314.0,-976.793829,-96.68,NaN,Tesco,2023-03-30 12:53:00,Low Risk
188677,14/10/2023,10:39:00,421881811.0,3080.374643,-36.11,NaN,Brilliant Brushes,2023-10-14 10:39:00,No Risk
96461,31/05/2023,23:59:00,593191200.0,1764.992250,-18.99,NaN,PureGym,2023-05-31 23:59:00,No Risk
182205,02/10/2023,12:43:00,165691047.0,98.783000,-148.00,NaN,Matalan,2023-10-02 12:43:00,Medium Risk
196583,29/10/2023,13:32:00,297823329.0,86.226450,-15.98,NaN,Blackwell's,2023-10-29 13:32:00,No Risk

In [75]:
risk_level_counts = testing_transactions['risk_level'].value_counts()
print(risk_level_counts)

No Risk           18348
Low Risk           2165
Not Applicable      974
High Risk           799
Medium Risk         634
Name: risk_level, dtype: int64

In [76]:
# Filter for Low Risk transactions
low_risk_transactions = testing_transactions[testing_transactions['risk_level'] == 'Low Risk']

# Filter for Medium Risk transactions
medium_risk_transactions = testing_transactions[testing_transactions['risk_level'] == 'Medium Risk']

# Filter for High Risk transactions
high_risk_transactions = testing_transactions[testing_transactions['risk_level'] == 'High Risk']

# Filter for Not Applicable transactions
not_applicable_transactions = testing_transactions[testing_transactions['risk_level'] == 'Not Applicable']

In [92]:
high_risk_transactions.head(50)

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,risk_level
135544,31/07/2023,23:59:00,494156986.0,-312.797554,-7.99,NaN,Disney,2023-07-31 23:59:00,High Risk
151550,26/08/2023,12:15:00,679911053.0,945.240047,-184.98,NaN,Sports Direct,2023-08-26 12:15:00,High Risk
137923,31/07/2023,23:59:00,727417797.0,4729.346500,-7.99,NaN,Disney,2023-07-31 23:59:00,High Risk
173444,26/09/2023,17:41:00,120634201.0,3221.403500,-40.00,NaN,Stitch By Stitch,2023-09-26 17:41:00,High Risk
102428,08/06/2023,11:37:00,604288474.0,3600.401233,-82.75,NaN,Boots,2023-06-08 11:37:00,High Risk
136816,31/07/2023,23:59:00,221356538.0,885.416100,-7.99,NaN,Amazon,2023-07-31 23:59:00,High Risk
158335,31/08/2023,23:59:00,899692478.0,-1127.104444,-7.99,NaN,Disney,2023-08-31 23:59:00,High Risk
69143,17/04/2023,10:10:00,613729471.0,5848.725363,-167.30,NaN,Fat Face,2023-04-17 10:10:00,High Risk
127313,19/07/2023,13:06:00,767447966.0,3894.943815,-6.00,NaN,Coffee #1,2023-07-19 13:06:00,High Risk
61559,31/03/2023,23:59:00,672994751.0,484.535350,-7.99,NaN,Amazon,2023-03-31 23:59:00,High Risk
23588,31/01/2023,23:59:00,661295096.0,2027.051850,-7.99,NaN,Disney,2023-01-31 23:59:00,High Risk
2863,01/01/2023,00:00:00,796709231.0,687.020000,-7.99,NaN,Disney,2023-01-01 00:00:00,High Risk
8939,07/01/2023,16:28:00,254018059.0,185.526850,-170.00,817294757.0,NaN,2023-01-07 16:28:00,High Risk
135079,31/07/2023,23:59:00,421475159.0,-481.331737,-7.99,NaN,Amazon,2023-07-31 23:59:00,High Risk
32950,14/02/2023,09:55:00,941285623.0,781.200857,-119.97,NaN,Gamestation,2023-02-14 09:55:00,High Risk
14607,18/01/2023,15:47:00,643610517.0,127.140309,-233.77,NaN,Fat Face,2023-01-18 15:47:00,High Risk
169307,18/09/2023,12:21:00,766941757.0,8161.975665,-147.00,NaN,Matalan,2023-09-18 12:21:00,High Risk
41664,28/02/2023,23:59:00,581618317.0,-676.280302,-7.99,NaN,Amazon,2023-02-28 23:59:00,High Risk
61089,31/03/2023,23:59:00,696333897.0,679.725750,-7.99,NaN,Disney,2023-03-31 23:59:00,High Risk
54774,27/03/2023,08:54:00,264550521.0,4199.294942,-63.86,NaN,Revella,2023-03-27 08:54:00,High Risk
23351,31/01/2023,23:59:00,348525881.0,-775.598325,-7.99,NaN,Disney,2023-01-31 23:59:00,High Risk
78918,30/04/2023,23:59:00,535273662.0,754.250000,-7.99,NaN,Amazon,2023-04-30 23:59:00,High Risk
116034,30/06/2023,23:59:00,333054026.0,23.814894,-7.99,NaN,Disney,2023-06-30 23:59:00,High Risk
25480,31/01/2023,23:59:00,672994751.0,877.195350,-7.99,NaN,Amazon,2023-01-31 23:59:00,High Risk
60873,31/03/2023,23:59:00,684988568.0,271.568877,-7.99,NaN,Amazon,2023-03-31 23:59:00,High Risk
43502,28/02/2023,23:59:00,564214408.0,83.840685,-7.99,NaN,Amazon,2023-02-28 23:59:00,High Risk
11545,12/01/2023,13:16:00,848118081.0,563.407300,-26.97,NaN,Wool,2023-01-12 13:16:00,High Risk
28958,05/02/2023,15:56:00,355602925.0,1142.606221,-203.50,NaN,Loosely Fitted,2023-02-05 15:56:00,High Risk
60307,31/03/2023,23:59:00,744211756.0,-1861.190750,-7.99,NaN,Amazon,2023-03-31 23:59:00,High Risk
178623,30/09/2023,23:59:00,697140785.0,-29.618383,-7.99,NaN,Amazon,2023-09-30 23:59:00,High Risk
193054,22/10/2023,14:08:00,456221621.0,13.736667,-198.50,NaN,Fat Face,2023-10-22 14:08:00,High Risk
3711,01/01/2023,00:00:00,380228542.0,1841.520000,-7.99,NaN,Disney,2023-01-01 00:00:00,High Risk
17009,23/01/2023,16:43:00,642015139.0,-1302.304163,-310.80,NaN,Fat Face,2023-01-23 16:43:00,High Risk
223542,30/11/2023,23:59:00,297823329.0,1019.948650,-7.99,NaN,Disney,2023-11-30 23:59:00,High Risk
139688,02/08/2023,17:50:00,556992209.0,9213.756570,-200.18,NaN,Sports Direct,2023-08-02 17:50:00,High Risk
113022,30/06/2023,17:31:00,994214354.0,6725.039068,-213.47,NaN,Fitted Stitch,2023-06-30 17:31:00,High Risk
179479,30/09/2023,23:59:00,750898750.0,-401.139465,-7.99,NaN,Amazon,2023-09-30 23:59:00,High Risk
99757,03/06/2023,09:22:00,838830098.0,954.843592,-42.95,NaN,The Works,2023-06-03 09:22:00,High Risk
78897,30/04/2023,23:59:00,442070890.0,-114.083388,-7.99,NaN,Disney,2023-04-30 23:59:00,High Risk
142843,08/08/2023,16:22:00,128033695.0,3636.380570,-130.17,NaN,Revella,2023-08-08 16:22:00,High Risk
77640,30/04/2023,23:59:00,945054126.0,305.461300,-7.99,NaN,Disney,2023-04-30 23:59:00,High Risk
24679,31/01/2023,23:59:00,548638376.0,1.825187,-7.99,NaN,Disney,2023-01-31 23:59:00,High Risk
194759,26/10/2023,06:52:00,475117511.0,7118.567250,-67.50,NaN,Lloyds Pharmacy,2023-10-26 06:52:00,High Risk
47603,08/03/2023,07:21:00,135937041.0,166.706802,-1330.00,460463595.0,NaN,2023-03-08 07:21:00,High Risk
155979,31/08/2023,23:59:00,621181115.0,-234.815250,-7.99,NaN,Amazon,2023-08-31 23:59:00,High Risk
61903,31/03/2023,23:59:00,340321732.0,1968.140550,-7.99,NaN,Amazon,2023-03-31 23:59:00,High Risk
180335,30/09/2023,23:59:00,163470640.0,1377.223000,-7.99,NaN,Amazon,2023-09-30 23:59:00,High Risk
77793,30/04/2023,23:59:00,954263768.0,32.871900,-7.99,NaN,Amazon,2023-04-30 23:59:00,High Risk
200213,31/10/2023,23:59:00,454356905.0,2319.542007,-7.99,NaN,Disney,2023-10-31 23:59:00,High Risk
23464,31/01/2023,23:59:00,441274121.0,2660.816000,-7.99,NaN,Disney,2023-01-31 23:59:00,High Risk

In [88]:
filtered = anomaly_detection_by_expenditures_df.loc[anomaly_detection_by_expenditures_df.index== 585625048.0]
filtered

,0.25,0.5,0.75,IQR,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,Third_Party_Account_Threshold_1,Third_Party_Account_Threshold_2,Third_Party_Account_Threshold_3,Business_Threshold_1,Business_Threshold_2,Business_Threshold_3,user_user_interaction,user_industry_interaction,user_business_interaction
Account No,,,,,,,,,,,,,,,,
585625048.0,5.99,7.8,51.985,45.995,120.9775,189.97,281.96,"{280990953.0: 3.03, 576188756.0: 4855.0}","{280990953.0: 3.03, 576188756.0: 6765.0}","{280990953.0: 3.03, 576188756.0: 8675.0}","{'AMAZON': 78.9525, 'Amazon': 7.99, 'Blizzard'...","{'AMAZON': 180.12, 'Amazon': 7.99, 'Blizzard':...","{'AMAZON': 324.645, 'Amazon': 7.99, 'Blizzard'...","[280990953.0, 576188756.0]","[AMAZON, Amazon, Blizzard, CeX, Coffee #1, Coo...","[AMAZON, Amazon, Blizzard, CeX, Coffee #1, Coo..."

In [90]:
# Accessing 'user_industry_interaction' for a specific account
user_industry_interaction = filtered.loc[585625048.0, 'Business_Threshold_1']
print(user_industry_interaction)

{'AMAZON': 78.9525, 'Amazon': 7.99, 'Blizzard': 14.99, 'CeX': 29.99, 'Coffee #1': 7.831250000000001, 'Coop Local': 24.97, 'Deliveroo': 21.9, 'Etsy': 11.95, 'Fat Face': 291.53000000000003, 'Gamestation': 164.97, 'JustEat': 14.49, 'Lloyds Pharmacy': 71.63999999999999, 'Loosely Fitted': 46.58, 'Matalan': 395.67499999999995, 'Mojang Studios': 5.99, 'Netflix': 15.99, 'PureGym': 18.99, 'Reebok': 22.0, 'Revella': 498.75, 'Sports Direct': 267.72749999999996, 'SquareOnix': 12.99, 'Starbucks': 8.075, 'Tesco': 238.5125, 'Topshop': 367.67499999999995, 'Xbox': 7.0}

### Feature engineering for anomaly detection: payments

In [ ]:
# Calculating Q1, Q3, and IQR for each account in 'from_totally_fake_account'
quartiles = payments_training_df.groupby('Account No')['Amount'].quantile([0.25, 0.5, 0.75]).unstack()
quartiles['IQR'] = quartiles[0.75] - quartiles[0.25]

thresholds = quartiles.copy()
thresholds['Overall_Threshold_1_IQR'] = quartiles[0.75] + 1.5 * quartiles['IQR']
thresholds['Overall_Threshold_2_IQR'] = quartiles[0.75] + 3 * quartiles['IQR']
thresholds['Overall_Threshold_3_IQR'] = quartiles[0.75] + 5 * quartiles['IQR']

anomaly_detection_by_payments_df = thresholds

anomaly_detection_by_payments_df.index.rename('Account No', inplace=True)

anomaly_detection_by_payments_df