In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler

In [90]:
df = pd.read_csv('../SavedData/dataset2_cleaned.csv')
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [91]:
training_transactions, testing_transactions = train_test_split(df, test_size=0.2, random_state=2)

In [92]:
training_payments_df = training_transactions[training_transactions['Amount'] > 0].copy()
training_expenditures_df = training_transactions[training_transactions['Amount'] < 0].copy()
training_expenditures_df["Amount"] = training_expenditures_df["Amount"].abs()

testing_payments_df = testing_transactions[testing_transactions['Amount'] > 0].copy()
testing_expenditures_df = testing_transactions[testing_transactions['Amount'] < 0].copy()
testing_expenditures_df["Amount"] = testing_expenditures_df["Amount"].abs()

In [93]:
training_expenditures_df = training_expenditures_df.copy()
testing_expenditures_df = testing_expenditures_df.copy()

training_expenditures_df['DayOfWeek'] = training_expenditures_df['Datetime'].dt.dayofweek
training_expenditures_df['DayOfMonth'] = training_expenditures_df['Datetime'].dt.day
training_expenditures_df['MonthOfYear'] = training_expenditures_df['Datetime'].dt.month

testing_expenditures_df['DayOfWeek'] = testing_expenditures_df['Datetime'].dt.dayofweek
testing_expenditures_df['DayOfMonth'] = testing_expenditures_df['Datetime'].dt.day
testing_expenditures_df['MonthOfYear'] = testing_expenditures_df['Datetime'].dt.month

In [94]:
training_expenditures_df = training_expenditures_df.copy()
testing_expenditures_df = testing_expenditures_df.copy()

training_expenditures_df['Hour'] = training_expenditures_df['Datetime'].dt.hour
testing_expenditures_df['Hour'] = testing_expenditures_df['Datetime'].dt.hour

In [95]:
patterns_train = training_expenditures_df.groupby(['Account No', 'Hour', 'DayOfWeek', 'DayOfMonth', 'MonthOfYear', 'Datetime'])['Amount'].sum().reset_index()
patterns_test = testing_expenditures_df.groupby(['Account No', 'Hour', 'DayOfWeek', 'DayOfMonth', 'MonthOfYear', 'Datetime'])['Amount'].sum().reset_index()

In [96]:
account_no = list(df['Account No'].unique())
key_list = Account_Nos
value_list = [0] * len(Account_Nos)
account_num_models = dict(zip(key_list, value_list))

In [122]:
for account in account_no:
    X_train = patterns_train[patterns_train['Account No'] == account][['Hour', 'DayOfWeek', 'DayOfMonth', 'MonthOfYear', 'Amount']]
    X_test = patterns_test[patterns_test['Account No'] == account][['Hour', 'DayOfWeek', 'DayOfMonth', 'MonthOfYear', 'Amount']]
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    user_model = IsolationForest(n_estimators=100, contamination=0.05)
    account_num_models[account] = user_model.fit(X_train_scaled)
    
    predictions = account_num_models[account].predict(X_test_scaled)
    
    # Save predictions to the DataFrame
    patterns_test.loc[X_test.index, 'Prediction'] = predictions
    
# Check the DataFrame to see the predictions column
print(patterns_test.head())

    Account No  Hour  DayOfWeek  DayOfMonth  MonthOfYear            Datetime  \
0  101531259.0     0          2           1            2 2023-02-01 00:00:00
1  101531259.0     0          4           1            9 2023-09-01 00:00:00
2  101531259.0     0          4           1           12 2023-12-01 00:00:00
3  101531259.0     0          5           1            4 2023-04-01 00:00:00
4  101531259.0     8          0          19            6 2023-06-19 08:37:00

   Amount  Prediction
0  859.00        -1.0
1  859.00         1.0
2  859.00        -1.0
3  859.00        -1.0
4  161.08         1.0

In [123]:
patterns_test.head(50)

,Account No,Hour,DayOfWeek,DayOfMonth,MonthOfYear,Datetime,Amount,Prediction
0,101531259.0,0,2,1,2,2023-02-01 00:00:00,859.00,-1.0
1,101531259.0,0,4,1,9,2023-09-01 00:00:00,859.00,1.0
2,101531259.0,0,4,1,12,2023-12-01 00:00:00,859.00,-1.0
3,101531259.0,0,5,1,4,2023-04-01 00:00:00,859.00,-1.0
4,101531259.0,8,0,19,6,2023-06-19 08:37:00,161.08,1.0
5,101531259.0,8,2,11,10,2023-10-11 08:21:00,65.20,1.0
6,101531259.0,8,5,12,8,2023-08-12 08:29:00,95.92,1.0
7,101531259.0,9,3,30,11,2023-11-30 09:21:00,7.49,1.0
8,101531259.0,9,3,31,8,2023-08-31 09:41:00,129.98,1.0
9,101531259.0,9,5,30,9,2023-09-30 09:26:00,30.99,1.0
10,101531259.0,9,6,1,1,2023-01-01 09:37:00,80.00,1.0
11,101531259.0,9,6,3,12,2023-12-03 09:26:00,7.98,1.0
12,101531259.0,10,1,28,2,2023-02-28 10:09:00,1.50,1.0
13,101531259.0,12,0,5,6,2023-06-05 12:29:00,148.50,1.0
14,101531259.0,12,0,5,6,2023-06-05 12:57:00,103.50,1.0
15,101531259.0,13,0,6,2,2023-02-06 13:01:00,154.23,1.0
16,101531259.0,13,0,12,6,2023-06-12 13:09:00,104.00,1.0
17,101531259.0,16,6,1,1,2023-01-01 16:52:00,128.50,1.0
18,101531259.0,21,2,8,3,2023-03-08 21:07:00,15.00,1.0
19,101531259.0,23,0,31,7,2023-07-31 23:59:00,100.00,1.0
20,101531259.0,23,1,31,1,2023-01-31 23:59:00,7.99,1.0
21,101531259.0,23,2,31,5,2023-05-31 23:59:00,100.00,1.0
22,101531259.0,23,5,30,9,2023-09-30 23:59:00,100.00,1.0
23,104832000.0,0,2,1,2,2023-02-01 00:00:00,861.00,1.0
24,104832000.0,0,2,1,11,2023-11-01 00:00:00,861.00,-1.0
25,104832000.0,0,6,1,1,2023-01-01 00:00:00,130.98,-1.0
26,104832000.0,0,6,1,10,2023-10-01 00:00:00,861.00,1.0
27,104832000.0,9,5,21,1,2023-01-21 09:31:00,99.98,1.0
28,104832000.0,10,6,12,2,2023-02-12 10:44:00,77.94,1.0
29,104832000.0,12,6,9,7,2023-07-09 12:41:00,28.55,1.0
30,104832000.0,12,6,28,5,2023-05-28 12:52:00,125.81,1.0
31,104832000.0,13,5,21,1,2023-01-21 13:53:00,124.51,1.0
32,104832000.0,13,6,1,1,2023-01-01 13:47:00,116.55,1.0
33,104832000.0,16,0,23,1,2023-01-23 16:36:00,49.99,1.0
34,104832000.0,16,4,3,11,2023-11-03 16:50:00,26.75,1.0
35,104832000.0,17,0,27,3,2023-03-27 17:40:00,86.52,1.0
36,104832000.0,17,2,15,2,2023-02-15 17:16:00,31.99,1.0
37,104832000.0,17,2,15,2,2023-02-15 17:44:00,119.97,1.0
38,104832000.0,18,0,19,6,2023-06-19 18:19:00,54.17,1.0
39,104832000.0,23,0,31,7,2023-07-31 23:59:00,114.99,1.0
40,104832000.0,23,1,28,2,2023-02-28 23:59:00,114.99,1.0
41,104832000.0,23,1,31,10,2023-10-31 23:59:00,15.99,1.0
42,104832000.0,23,3,30,11,2023-11-30 23:59:00,677.00,-1.0
43,104832000.0,23,3,31,8,2023-08-31 23:59:00,37.98,1.0
44,104832000.0,23,4,30,6,2023-06-30 23:59:00,12.99,1.0
45,104832000.0,23,4,31,3,2023-03-31 23:59:00,670.00,1.0
46,104832000.0,23,5,30,9,2023-09-30 23:59:00,25.98,1.0
47,104832000.0,23,6,30,4,2023-04-30 23:59:00,112.99,1.0
48,105375973.0,1,6,29,1,2023-01-29 01:11:00,16.25,-1.0
49,105375973.0,5,4,17,2,2023-02-17 05:19:00,48.86,1.0

In [124]:
patterns_test[patterns_test['Account No'] == 108563213.0].head(60)

,Account No,Hour,DayOfWeek,DayOfMonth,MonthOfYear,Datetime,Amount,Prediction
172,108563213.0,0,6,1,1,2023-01-01 00:00:00,7.99,-1.0
173,108563213.0,2,0,28,8,2023-08-28 02:42:00,47.83,1.0
174,108563213.0,3,0,4,9,2023-09-04 03:52:00,48.75,1.0
175,108563213.0,3,2,18,10,2023-10-18 03:54:00,44.90,1.0
176,108563213.0,3,3,16,11,2023-11-16 03:04:00,30.34,1.0
177,108563213.0,4,1,5,12,2023-12-05 04:29:00,62.90,1.0
178,108563213.0,4,1,25,4,2023-04-25 04:57:00,1.04,1.0
179,108563213.0,4,2,5,7,2023-07-05 04:46:00,9.89,1.0
180,108563213.0,4,3,3,8,2023-08-03 04:45:00,78.79,1.0
181,108563213.0,4,4,2,6,2023-06-02 04:15:00,36.51,1.0
182,108563213.0,4,5,5,8,2023-08-05 04:46:00,3.71,1.0
183,108563213.0,4,5,9,9,2023-09-09 04:09:00,6.12,1.0
184,108563213.0,4,5,22,4,2023-04-22 04:21:00,50.37,1.0
185,108563213.0,5,3,26,10,2023-10-26 05:06:00,26.31,1.0
186,108563213.0,5,4,1,12,2023-12-01 05:28:00,8.62,1.0
187,108563213.0,5,4,21,7,2023-07-21 05:49:00,12.22,1.0
188,108563213.0,5,5,12,8,2023-08-12 05:57:00,38.83,1.0
189,108563213.0,6,0,2,10,2023-10-02 06:22:00,20.86,1.0
190,108563213.0,6,0,12,6,2023-06-12 06:12:00,17.18,1.0
191,108563213.0,6,0,26,6,2023-06-26 06:09:00,31.83,1.0
192,108563213.0,6,1,10,10,2023-10-10 06:51:00,8.81,1.0
193,108563213.0,6,2,27,9,2023-09-27 06:08:00,22.73,1.0
194,108563213.0,6,5,21,10,2023-10-21 06:12:00,53.95,1.0
195,108563213.0,6,6,8,10,2023-10-08 06:42:00,31.21,1.0
196,108563213.0,7,0,13,11,2023-11-13 07:46:00,45.79,1.0
197,108563213.0,7,0,20,11,2023-11-20 07:09:00,34.99,1.0
198,108563213.0,7,1,8,8,2023-08-08 07:53:00,9.68,1.0
199,108563213.0,7,2,6,9,2023-09-06 07:29:00,25.83,1.0
200,108563213.0,7,2,14,6,2023-06-14 07:31:00,16.47,1.0
201,108563213.0,7,2,19,7,2023-07-19 07:49:00,51.78,1.0
202,108563213.0,7,2,30,8,2023-08-30 07:23:00,5.83,1.0
203,108563213.0,7,3,6,7,2023-07-06 07:00:00,7.81,1.0
204,108563213.0,7,3,10,8,2023-08-10 07:39:00,8.61,1.0
205,108563213.0,7,4,8,9,2023-09-08 07:08:00,25.96,1.0
206,108563213.0,7,6,22,10,2023-10-22 07:00:00,6.57,1.0
207,108563213.0,8,2,21,6,2023-06-21 08:43:00,144.98,1.0
208,108563213.0,8,2,29,11,2023-11-29 08:25:00,23.17,1.0
209,108563213.0,8,2,29,11,2023-11-29 08:54:00,51.41,1.0
210,108563213.0,8,3,28,9,2023-09-28 08:56:00,73.21,1.0
211,108563213.0,8,4,10,2,2023-02-10 08:21:00,26.89,1.0
212,108563213.0,8,6,25,6,2023-06-25 08:07:00,31.76,1.0
213,108563213.0,9,0,31,7,2023-07-31 09:10:00,50.36,1.0
214,108563213.0,9,3,23,3,2023-03-23 09:08:00,74.02,1.0
215,108563213.0,9,5,2,9,2023-09-02 09:52:00,16.99,1.0
216,108563213.0,9,5,4,3,2023-03-04 09:37:00,163.97,1.0
217,108563213.0,9,5,8,4,2023-04-08 09:23:00,31.99,1.0
218,108563213.0,9,5,15,4,2023-04-15 09:54:00,121.99,1.0
219,108563213.0,10,5,11,11,2023-11-11 10:13:00,107.80,1.0
220,108563213.0,10,5,24,6,2023-06-24 10:58:00,33.77,1.0
221,108563213.0,10,5,28,10,2023-10-28 10:03:00,23.12,1.0
222,108563213.0,10,6,2,7,2023-07-02 10:07:00,87.46,1.0
223,108563213.0,10,6,2,7,2023-07-02 10:52:00,245.70,-1.0
224,108563213.0,10,6,23,7,2023-07-23 10:53:00,35.02,1.0
225,108563213.0,11,5,11,11,2023-11-11 11:49:00,128.07,1.0
226,108563213.0,12,5,25,3,2023-03-25 12:39:00,67.87,1.0
227,108563213.0,12,6,5,2,2023-02-05 12:11:00,80.98,1.0
228,108563213.0,13,5,8,7,2023-07-08 13:57:00,97.98,1.0
229,108563213.0,13,6,4,6,2023-06-04 13:07:00,4.06,1.0
230,108563213.0,14,6,2,7,2023-07-02 14:16:00,218.39,-1.0
231,108563213.0,16,5,11,11,2023-11-11 16:15:00,62.27,1.0

In [105]:
import matplotlib.pyplot as plt

account = 678330503.0

# Predict on the test dataset
predictions = account_num_models[account].predict(X_test_scaled)

print(X_test_scaled)
print(predictions)

# Analyze predictions
#n_outliers = (predictions == -1).sum()
#n_inliers = (predictions == 1).sum()

#print(f"Number of outliers detected: {n_outliers}")
#print(f"Number of inliers detected: {n_inliers}")

# Plot results (if feasible)
#plt.figure(figsize=(10, 6))
#plt.scatter(X_test_scaled[:, 0], X_test_scaled[:, 1], c=predictions, cmap='coolwarm', edgecolor='k', s=50)
#plt.title('Isolation Forest Outlier Detection')
#plt.xlabel('Feature 1')
#plt.ylabel('Feature 2')
#plt.show()

[[-2.61259834 -1.05018253  0.05450421 -0.09401777 -0.97974706]
 [-2.10484955  0.46318094  0.49861256  1.38340428 -0.88579437]
 [-1.59710075 -1.05018253 -0.50063123  0.49695105 -0.08033482]
 [-1.59710075 -1.05018253  0.05450421 -0.09401777 -0.25398895]
 [-1.08935196 -1.05018253 -0.61165832 -1.27595541  0.27383513]
 [-0.58160316 -1.05018253 -1.16679376  1.08791987 -0.99109527]
 [-0.58160316 -1.05018253  0.38758547  1.08791987  0.11390444]
 [-0.07385437 -0.54572804  1.053748    1.38340428  0.75151592]
 [ 0.43389442 -0.04127355 -0.38960415  1.38340428 -1.09560444]
 [ 0.43389442 -0.04127355  0.05450421 -0.980471    0.80403442]
 [ 0.43389442 -0.04127355  0.38758547  1.38340428  0.69926134]
 [ 0.43389442  0.96763543 -0.50063123 -0.980471   -1.17477805]
 [ 0.43389442  0.96763543  1.71991053  0.20146664 -0.34371904]
 [ 0.43389442  1.47208992  0.38758547 -0.980471   -0.35770638]
 [ 0.43389442  1.47208992  1.053748    0.20146664  0.17170117]
 [ 0.43389442  1.47208992  1.38682926 -0.09401777  0.91725268]
 [ 0.43389442  1.47208992  1.60888344  0.49695105  0.41925067]
 [ 0.68776882 -1.05018253  1.71991053  1.38340428 -0.72691932]
 [ 0.68776882 -0.04127355 -0.05652288  0.20146664 -0.89793432]
 [ 0.68776882  0.46318094 -1.49987503  0.20146664  0.88716671]
 [ 0.68776882  0.46318094 -0.05652288  1.08791987  0.8298978 ]
 [ 0.68776882  0.96763543 -0.16754997 -1.27595541  0.30286546]
 [ 0.68776882  0.96763543  0.27655838 -0.68498659  0.2139271 ]
 [ 0.68776882  0.96763543  0.38758547  0.79243546  0.71404041]
 [ 0.94164322 -1.05018253 -0.50063123 -0.38950218 -0.51315057]
 [ 0.94164322 -0.04127355  1.83093762 -0.09401777 -1.06974106]
 [ 1.19551762 -0.04127355  0.38758547  1.38340428 -0.80688467]
 [ 1.44939201  0.46318094 -1.38884794  1.67888869 -0.76439483]]
[ 1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1 -1]