## Importing Libraries

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import ast
from statistics import mean, median
import matplotlib.pyplot as plt

## Importing CSV

In [52]:
# Loading csv and setting to 
user_data = pd.read_csv('../SavedData/Lloyds_users.csv')
user_df = pd.DataFrame(user_data)

# Changing the lists back to normal columns
user_df['user_biz_interaction'] = user_df['user_biz_interaction'].apply(ast.literal_eval)
user_df['user_biz_interaction_frequency'] = user_df['user_biz_interaction_frequency'].apply(ast.literal_eval)
user_df['user_biz_spend'] = user_df['user_biz_spend'].apply(ast.literal_eval)
user_df['user_user_interaction'] = user_df['user_user_interaction'].apply(ast.literal_eval)
user_df['user_user_interaction_frequency'] = user_df['user_user_interaction_frequency'].apply(ast.literal_eval)
user_df['user_user_spend'] = user_df['user_user_spend'].apply(ast.literal_eval)
user_df['user_industry_interaction'] = user_df['user_industry_interaction'].apply(ast.literal_eval)
user_df['user_industry_interaction_frequency'] = user_df['user_industry_interaction_frequency'].apply(ast.literal_eval)
user_df['user_industry_spend'] = user_df['user_industry_spend'].apply(ast.literal_eval)
user_df['user_date_transaction'] = user_df['user_date_transaction'].apply(ast.literal_eval)
user_df['user_date_transaction_freq'] = user_df['user_date_transaction_freq'].apply(ast.literal_eval)

In [53]:
user_df

,user_id,total_tx_count,net_tx_count,total_tx_sum_gbp,net_tx_sum_gbp,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,...,user_biz_interaction_frequency,user_biz_spend,user_user_interaction,user_user_interaction_frequency,user_user_spend,user_industry_interaction,user_industry_interaction_frequency,user_industry_spend,user_date_transaction,user_date_transaction_freq
0,1000,1903,1517,37720.11,19676.91,1710,28698.51,16.782754,4.50,193,...,"[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[278.15, 269.25, 217.86, 850.5, 19.5, 347.15, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[315.4, 86.5, 35.0, 16130.0, 5.0, 94.0, 24.0, ...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 1, 1, 813, 2, 3, 37, 1, 7, 2, 30, 21, 353,...","[114.97999999999999, 145.0, 8.0, 1955.2, 160.0...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[5, 5, 13, 6, 2, 9, 5, 8, 6, 5, 5, 7, 4, 7, 2,..."
1,10000,1114,720,21360.39,18944.39,917,20152.39,21.976434,11.00,197,...,"[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[13.65, 2.25, 349.77, 791.0, 1275.25, 12.5, 27...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[253.65, 5228.46, 50.0, 106.85, 55.2, 49.9, 32...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 23, 1, 51, 2, 1, 14, 312, 119, 3, ...","[19.99, 3002.0, 370.0, 56.25, 33.64, 1685.48, ...","[01/02/2025, 01/03/2025, 01/04/2025, 01/06/202...","[3, 4, 1, 8, 3, 3, 2, 3, 2, 6, 3, 7, 1, 9, 7, ..."
2,100000,1919,1433,23455.27,20720.37,1676,22087.82,13.178890,4.50,243,...,"[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[113.0, 256.2, 318.4, 1596.43, 1142.5, 23.0, 4...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[135.5, 83.3, 146.5, 4857.0, 109.0, 124.0, 35....","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 7, 1, 828, 10, 58, 5, 2, 18, 1, 334, 65, ...","[369.0, 145.95999999999998, 37.0, 2015.95, 300...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 3, 10, 2, 3, 12, 5, 6, 3, 3, 3, 3, 4, 6, 1..."
3,100002,1561,1233,22393.96,20303.16,1397,21348.56,15.281718,4.50,164,...,"[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[113.35, 142.65, 1896.42, 965.5, 10.0, 212.5, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[76.08, 2.45, 35.0, 1.45, 46.0, 61.5, 52.55, 4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[8, 32, 2, 281, 2, 3, 33, 4, 2, 10, 269, 511, ...","[166.94, 3464.0, 15.0, 767.9, 99.0, 96.81, 117...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 7, 6, 2, 5, 14, 2, 14, 3, 2, 5, 4, 2, 4, 4..."
4,100019,1157,719,44632.75,16232.85,938,30432.80,32.444350,9.00,219,...,"[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[118.95, 129.0, 1163.37, 1031.0, 60.0, 3.0, 12...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[125.5, 221.0, 113.0, 24.5, 163.0, 15060.0, 16...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 214, 4, 1, 38, 1, 12, 13, 314, 1, 6...","[12.0, 2701.0, 15.0, 514.55, 250.0, 26.36, 136...","[01/02/2025, 01/03/2025, 01/06/2025, 01/07/202...","[6, 8, 3, 1, 4, 2, 2, 9, 1, 5, 3, 3, 2, 5, 3, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8137,99939,1488,1078,20117.08,17723.34,1283,18920.21,14.746851,9.00,205,...,"[56, 56, 13, 80, 57, 8, 3, 8, 2, 2, 44, 51, 23...","[136.75, 128.05, 265.17, 955.0, 1279.85, 37.0,...","[15880, 24365, 24475, 2858, 33124, 4741, 53764...","[6, 34, 17, 50, 1, 25, 31, 21, 22, 27, 13, 51,...","[31.0, 189.25, 108.0, 3905.35, 50.0, 140.65, 1...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 2, 38, 227, 25, 7, 46, 3, 2, 2, 37, 25, 34...","[114.97999999999999, 263.0, 378.0, 553.85, 135...","[01/01/2025, 01/02/2025, 01/03/2025, 01/05/202...","[2, 13, 4, 2, 7, 2, 13, 3, 3, 2, 1, 4, 2, 1, 6..."
8138,99949,1188,818,15007.49,12916.23,1003,13961.86,13.920100,6.00,185,...,"[61, 48, 4, 72, 7, 4, 1, 5, 2, 2, 36, 50, 9, 1...","[144.65, 117.15, 406.98, 679.5, 126.0, 19.0, 2...","[1697, 32368, 33124, 39937, 52658, 53534, 6314...","[22, 21, 2, 11, 52, 14, 8, 27, 19, 16, 64, 42,...","[98.1, 119.7, 100.0, 56.2, 309.8, 79.5, 41.45,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 3, 2, 215, 1, 4, 22, 1, 3, 25, 1, 368, 23,...","[106.97, 367.0, 22.0, 539.15, 20.0, 129.55, 89...","[01/02/2025, 01/03/2025, 01/04/2025, 01/05/202...","[2, 11, 1, 2, 8, 2, 7, 1, 3, 1, 2, 14, 7, 1, 1..."
8139,99952,1501,1073,47107.19,21523.19,1287,34315.19,26.662929,9.00,214,...,"[49, 41, 14, 99, 13, 4, 4, 13, 1, 40, 53, 15, ...","[118.95, 100.45, 1505.73, 1163.0, 170.0, 19.0,...","[16004, 23861, 25637, 30279, 44652, 51998, 555...","[4, 12, 10, 30, 15, 22, 97, 18, 28, 23, 52, 92...","[20.0, 15900.0, 56.0, 156.05, 82.4, 124.15, 63...","[Alcohol, Books, Cafes, Children, Coffee Beans...","[6, 84, 198, 20, 5, 42, 2, 3, 2, 32, 1, 386, 1...","[152.98, 985.0, 490.59999999999997, 1299.0, 13...","[01/01/2025, 01/02/2025, 01/03/2025, 01/05/202...","[3, 5, 2, 3, 7, 1, 3, 2, 5, 1, 3, 1, 5, 5, 4, ..."
8140,99988,1450,1068,37715.77,23073.99,1259,30394.88,24.142081,8.99,191,...,"[58, 61, 11, 106, 1, 57, 9, 1, 6, 22, 8, 62, 1...","[137.95, 143.5, 176.74, 1245.0, 20.0, 1368.69,...","[100305, 10944, 11417, 26078, 33317, 35599, 37...","[38, 17, 43, 23, 14, 21, 10, 12, 15, 10, 42, 4...","[209.7, 85.9, 244.75, 140.0, 75.95, 133.5, 62....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 2, 2, 252, 1, 6, 33, 8, 1, 29, 2, 343, 116...","[90.97999999999999, 253.0, 32.0, 605.1, 96.0, ...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[2, 5, 3, 3, 4, 14, 3, 9, 1, 3, 6, 4, 3, 3, 1,..."
8141,99998,1204,942,25508.78,23915.48,1073,24712.13,23.030876,9.50,131,...,"[38, 53, 15, 109, 13, 9, 3, 6, 7, 16, 2, 54, 2...","[88.2, 128.7, 1532.85, 1244.0, 214.0, 171.0, 1...","[11261, 13903, 17765, 17966, 30727, 4127, 4655...","[23, 11, 6, 39, 16, 31, 20, 17, 7, 13, 18, 4, ...","[136.0, 74.5, 34.5, 241.5, 91.5, 175.3, 107.5,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[5, 34, 40, 187, 22, 4, 40, 5, 2, 52, 12, 308,...","[145.95999999999998, 4341.0, 547.0, 444.45, 12...","[01/02/2025, 01/03/2025, 01/04/2025, 01/05/202...","[5, 11, 1, 1, 1, 2, 5, 2, 1, 10, 2, 5, 2, 1, 7..."

## Setting the Negative and Positive Items

In [54]:
negative_biz = [
    "TAKEAWAY",
    "CHINESE_TAKEAWAY",
    "TAKEAWAY_CURRY",
    "LIQUORE_STORE",
    "WHISKEY_SHOP",
    "WINE_CELLAR",
    "WINE_BAR",
    "WHISKEY_BAR",
    "PUB",
    "G&T_BAR",
    "COCKTAIL_BAR",
    "LOCAL_WATERING_HOLE",
    "BAR",
    "LOCAL_PUB",
    "KEBAB_SHOP"
]
    
positive_biz = [
    "FASHIONABLE_SPORTSWARE_SHOP",
    "TRAINER_SHOP",
    "SPORT_SHOP",
    "RUNNING_SHOP",
    "GREENGROCER",
    "GYM"
    
]

In [55]:
user_df['user_biz_interaction'][0]

['A_CAFE',
 'A_LOCAL_COFFEE_SHOP',
 'A_SUPERMARKET',
 'BAR',
 'CAFE',
 'CHINESE_TAKEAWAY',
 'CINEMA',
 'CLOTHES_SHOP',
 'COCKTAIL_BAR',
 'COFFEE_SHOP',
 'COMIC_BOOK_SHOP',
 'DIY_STORE',
 'DVD_SHOP',
 'EXPRESS_SUPERMARKET',
 'G&T_BAR',
 'GOURMET_COFFEE_SHOP',
 'HIPSTER_COFFEE_SHOP',
 'KEBAB_SHOP',
 'KIDS_CLOTHING_SHOP',
 'LARGE_SUPERMARKET',
 'LIQUOR_STORE',
 'LOCAL_PUB',
 'LOCAL_RESTAURANT',
 'LOCAL_WATERING_HOLE',
 'LUNCH_PLACE',
 'LUNCH_VAN',
 'PET_SHOP',
 'PET_TOY_SHOP',
 'PRETENTIOUS_COFFEE_SHOP',
 'PUB',
 'RESTAURANT',
 'RESTAURANT_VOUCHER',
 'SANDWICH_SHOP',
 'SCHOOL_SUPPLY_STORE',
 'STREAMING_SERVICE',
 'TAKEAWAY',
 'TAKEAWAY_CURRY',
 'TOTALLY_A_REAL_COFFEE_SHOP',
 'TO_BEAN_OR_NOT_TO_BEAN',
 'VIDEO_GAME_STORE',
 'WE_HAVE_BEAN_WEIGHTING',
 'WHISKEY_BAR',
 'WINE_BAR',
 'WINE_CELLAR']

In [68]:
for user_index in range(0, len(user_df)):
    negative_biz = "A_CAFE"
    negative_biz_spend = 0
    
    for biz
        interaction_list = user_df['user_biz_interaction'].iloc[index]
        interaction_spend_list = user_df['user_biz_spend'].iloc[index]

        try: 
            negative_biz_pos = interaction_list.index(negative_biz)
            negative_biz_spend += float(interaction_spend_list[negative_biz_pos])

        except:
            negative_biz_spend += 0
        
print(negative_biz_spend)

88.2