## Importing Libraries

In [88]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import ast
from statistics import mean, median
import matplotlib.pyplot as plt

## Importing CSV

In [89]:
# Loading csv and setting to 
user_data = pd.read_csv('../SavedData/Lloyds_users.csv')
user_df = pd.DataFrame(user_data)

# Changing the lists back to normal columns
user_df['user_biz_interaction'] = user_df['user_biz_interaction'].apply(ast.literal_eval)
user_df['user_biz_interaction_frequency'] = user_df['user_biz_interaction_frequency'].apply(ast.literal_eval)
user_df['user_biz_spend'] = user_df['user_biz_spend'].apply(ast.literal_eval)
user_df['user_user_interaction'] = user_df['user_user_interaction'].apply(ast.literal_eval)
user_df['user_user_interaction_frequency'] = user_df['user_user_interaction_frequency'].apply(ast.literal_eval)
user_df['user_user_spend'] = user_df['user_user_spend'].apply(ast.literal_eval)
user_df['user_industry_interaction'] = user_df['user_industry_interaction'].apply(ast.literal_eval)
user_df['user_industry_interaction_frequency'] = user_df['user_industry_interaction_frequency'].apply(ast.literal_eval)
user_df['user_industry_spend'] = user_df['user_industry_spend'].apply(ast.literal_eval)
user_df['user_date_transaction'] = user_df['user_date_transaction'].apply(ast.literal_eval)
user_df['user_date_transaction_freq'] = user_df['user_date_transaction_freq'].apply(ast.literal_eval)

## Setting the Negative and Positive Items

In [99]:
positive_biz_list = [
    "FASHIONABLE_SPORTSWARE_SHOP",
    "TRAINER_SHOP",
    "SPORT_SHOP",
    "RUNNING_SHOP",
    "GREENGROCER",
    "GYM"
    
]

negative_biz_list = [
    "TAKEAWAY",
    "CHINESE_TAKEAWAY",
    "TAKEAWAY_CURRY",
    "LIQUORE_STORE",
    "WHISKEY_SHOP",
    "WINE_CELLAR",
    "WINE_BAR",
    "WHISKEY_BAR",
    "PUB",
    "G&T_BAR",
    "COCKTAIL_BAR",
    "LOCAL_WATERING_HOLE",
    "BAR",
    "LOCAL_PUB",
    "KEBAB_SHOP"
]

## Building Insurance Dataframe

### Calculating Positive Spend List

In [100]:
positive_biz_spend_list = []

for user_index in range(0, len(user_df)):
    positive_biz_spend = 0
    
    for biz in positive_biz_list:
        interaction_list = user_df['user_biz_interaction'].iloc[user_index]
        interaction_spend_list = user_df['user_biz_spend'].iloc[user_index]

        try: 
            positive_biz_pos = interaction_list.index(biz)
            positive_biz_spend += float(interaction_spend_list[positive_biz_pos])

        except:
            positive_biz_spend += 0
        
    positive_biz_spend_list.append(positive_biz_spend)
    
#print(positive_biz_spend_list)

### Calculating Negative Spend List

In [101]:
negative_biz_spend_list = []

for user_index in range(0, len(user_df)):
    negative_biz_spend = 0
    
    for biz in negative_biz_list:
        interaction_list = user_df['user_biz_interaction'].iloc[user_index]
        interaction_spend_list = user_df['user_biz_spend'].iloc[user_index]

        try: 
            negative_biz_pos = interaction_list.index(negative_biz)
            negative_biz_spend += float(interaction_spend_list[negative_biz_pos])

        except:
            negative_biz_spend += 0
        
    negative_biz_spend_list.append(negative_biz_spend)
    
#print(negative_biz_spend_list)

### Calculating Net Spending List

In [102]:
net_pos_neg_spending = [a - b for a, b in zip(positive_biz_spend_list, negative_biz_spend_list)]

#print(net_pos_neg_spending)

### Creating the Insurance Dataframe

In [103]:
insurance_df = pd.DataFrame({
    'user_id': list(user_df['user_id']),
    'positive_spend': positive_biz_spend_list,
    'negative_spend': negative_biz_spend_list,
    'net_spend': net_pos_neg_spending
})

In [104]:
# Sorting the DataFrame by the 'Age' column in ascending order
insurance_df = insurance_df.sort_values(by='net_spend', ascending=True)

In [96]:
insurance_df

      user_id  positive_spend  negative_spend  net_spend
0        1000            0.00         4172.25   -4172.25
1       10000         1710.25          204.75    1505.50
2      100000            0.00         3843.00   -3843.00
3      100002            0.00         1700.25   -1700.25
4      100019            0.00         1784.25   -1784.25
...       ...             ...             ...        ...
8137    99939         1251.67         2051.25    -799.58
8138    99949          108.00         2169.75   -2061.75
8139    99952            0.00         1784.25   -1784.25
8140    99988         1343.03         2069.25    -726.22
8141    99998          162.00         1323.00   -1161.00

[8142 rows x 4 columns]