# Importing Libraries

In [16]:
import pandas as pd
import numpy as np
from datetime import datetime
import ast

import industryMap

# Importing data

In [17]:
filepath = '../SavedData/user_large_with_dates.csv'
#df = pd.read_csv(filepath) #for classic
data = pd.read_csv(filepath) #for club

In [18]:
# Loading csv and setting to 
user_data = pd.read_csv(filepath)
user_df = pd.DataFrame(user_data)

# Changing the lists back to normal columns
user_df['user_biz_interaction'] = user_df['user_biz_interaction'].apply(ast.literal_eval)
user_df['user_biz_interaction_frequency'] = user_df['user_biz_interaction_frequency'].apply(ast.literal_eval)
user_df['user_biz_spend'] = user_df['user_biz_spend'].apply(ast.literal_eval)
user_df['user_user_interaction'] = user_df['user_user_interaction'].apply(ast.literal_eval)
user_df['user_user_interaction_frequency'] = user_df['user_user_interaction_frequency'].apply(ast.literal_eval)
user_df['user_user_spend'] = user_df['user_user_spend'].apply(ast.literal_eval)
user_df['user_industry_interaction'] = user_df['user_industry_interaction'].apply(ast.literal_eval)
user_df['user_industry_interaction_frequency'] = user_df['user_industry_interaction_frequency'].apply(ast.literal_eval)
user_df['user_industry_spend'] = user_df['user_industry_spend'].apply(ast.literal_eval)

# This is to ensure cooperation with legacy code
df = user_df.copy()

In [19]:
df.head()

,user_id,total_tx_count,net_tx_count,total_tx_sum_gbp,net_tx_sum_gbp,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,...,user_biz_interaction_frequency,user_biz_spend,user_user_interaction,user_user_interaction_frequency,user_user_spend,user_industry_interaction,user_industry_interaction_frequency,user_industry_spend,user_date_transaction,user_date_transaction_freq
0,1000,1903,1517,37720.11,19676.91,1710,28698.51,16.782754,4.5,193,...,"[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[278.15, 269.25, 217.86, 850.5, 19.5, 347.15, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[315.4, 86.5, 35.0, 16130.0, 5.0, 94.0, 24.0, ...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 1, 1, 813, 2, 3, 37, 1, 7, 2, 30, 21, 353,...","[114.97999999999999, 145.0, 8.0, 1955.2, 160.0...","['01/01/2025', '01/02/2025', '01/03/2025', '01...","[5, 5, 13, 6, 2, 9, 5, 8, 6, 5, 5, 7, 4, 7, 2,..."
1,10000,1114,720,21360.39,18944.39,917,20152.39,21.976434,11.0,197,...,"[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[13.65, 2.25, 349.77, 791.0, 1275.25, 12.5, 27...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[253.65, 5228.46, 50.0, 106.85, 55.2, 49.9, 32...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 23, 1, 51, 2, 1, 14, 312, 119, 3, ...","[19.99, 3002.0, 370.0, 56.25, 33.64, 1685.48, ...","['01/02/2025', '01/03/2025', '01/04/2025', '01...","[3, 4, 1, 8, 3, 3, 2, 3, 2, 6, 3, 7, 1, 9, 7, ..."
2,100000,1919,1433,23455.27,20720.37,1676,22087.82,13.178890,4.5,243,...,"[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[113.0, 256.2, 318.4, 1596.43, 1142.5, 23.0, 4...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[135.5, 83.3, 146.5, 4857.0, 109.0, 124.0, 35....","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 7, 1, 828, 10, 58, 5, 2, 18, 1, 334, 65, ...","[369.0, 145.95999999999998, 37.0, 2015.95, 300...","['01/01/2025', '01/02/2025', '01/03/2025', '01...","[3, 3, 10, 2, 3, 12, 5, 6, 3, 3, 3, 3, 4, 6, 1..."
3,100002,1561,1233,22393.96,20303.16,1397,21348.56,15.281718,4.5,164,...,"[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[113.35, 142.65, 1896.42, 965.5, 10.0, 212.5, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[76.08, 2.45, 35.0, 1.45, 46.0, 61.5, 52.55, 4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[8, 32, 2, 281, 2, 3, 33, 4, 2, 10, 269, 511, ...","[166.94, 3464.0, 15.0, 767.9, 99.0, 96.81, 117...","['01/01/2025', '01/02/2025', '01/03/2025', '01...","[3, 7, 6, 2, 5, 14, 2, 14, 3, 2, 5, 4, 2, 4, 4..."
4,100019,1157,719,44632.75,16232.85,938,30432.80,32.444350,9.0,219,...,"[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[118.95, 129.0, 1163.37, 1031.0, 60.0, 3.0, 12...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[125.5, 221.0, 113.0, 24.5, 163.0, 15060.0, 16...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 214, 4, 1, 38, 1, 12, 13, 314, 1, 6...","[12.0, 2701.0, 15.0, 514.55, 250.0, 26.36, 136...","['01/02/2025', '01/03/2025', '01/06/2025', '01...","[6, 8, 3, 1, 4, 2, 2, 9, 1, 5, 3, 3, 2, 5, 3, ..."

# Classic Eligible users list

In [20]:
def find_high_spenders(df):
    high_spenders = set()
    for index, row in df.iterrows():
        try:
            transactions = ast.literal_eval(row['user_date_transaction'])
            spends = ast.literal_eval(row['user_industry_spend'])
        except ValueError:
            continue  
        
        monthly_spend = {}
        for date, spend in zip(transactions, spends):
            date_obj = datetime.strptime(date, '%d/%m/%Y')
            year_month = date_obj.strftime('%Y-%m')
            monthly_spend[year_month] = monthly_spend.get(year_month, 0) + spend
        
        if any(spend > 6000 for spend in monthly_spend.values()):
            high_spenders.add(row['user_id'])
    
    return list(high_spenders)

high_spenders_list = find_high_spenders(df)

print(len(high_spenders_list)) 
print(high_spenders_list)

0
[]

In [21]:
industry_list = list(set(industryMap.industry_categories.values()))

industry_user_spend = {}

for industry in industry_list:
    
    user_spend_dict = {}
    top_n = 10
    
    for row in range(0, len(df)):
        if(industry in df['user_industry_interaction'][row]):
            industry_index = df['user_industry_interaction'][row].index(industry)
            industry_spend = df['user_industry_spend'][row][industry_index]
            
            user_spend_dict[df['user_id'][row]] = industry_spend
    
    sorted_user_spend_dict = dict(sorted(user_spend_dict.items(), key=lambda item: item[1], reverse=True)[:top_n])
            
    sorted_user_spend_user_list = list(sorted_user_spend_dict.keys())
    sorted_user_spend_spend_list = list(sorted_user_spend_dict.values())
            
    industry_user_spend[industry + ' users'] = sorted_user_spend_user_list
    industry_user_spend[industry + ' spends'] = sorted_user_spend_spend_list

In [22]:
print(industry_user_spend)

{'Accessories users': [94580, 42587, 76607, 90311, 56543, 34189, 46319, 79674, 78603, 38188], 'Accessories spends': [757.0, 728.0, 711.0, 701.0, 685.0, 671.0, 670.0, 653.0, 646.0, 645.0], 'Sports users': [92091, 69547, 85917, 85568, 28476, 13344, 4386, 16464, 59828, 90903], 'Sports spends': [2113.0, 2092.0, 2034.0, 1967.0, 1877.0, 1870.0, 1868.0, 1841.0, 1824.0, 1817.0], 'Books users': [24815, 68529, 6010, 76930, 45549, 94879, 5706, 49267, 98305, 23978], 'Books spends': [1284.0, 1205.0, 1201.0, 1187.0, 1184.0, 1184.0, 1162.0, 1155.0, 1142.0, 1139.0], 'Health and fitness users': [100086, 100224, 100658, 100751, 100818, 100866, 100931, 100986, 10581, 10709], 'Health and fitness spends': [240.0, 240.0, 240.0, 240.0, 240.0, 240.0, 240.0, 240.0, 240.0, 240.0], 'Pubs / Bars users': [2331, 20251, 74448, 9399, 81493, 17016, 67371, 94835, 9869, 25997], 'Pubs / Bars spends': [8862.36, 8250.31, 8172.43, 7808.72, 7766.07, 7676.0, 7614.23, 7604.71, 7518.35, 7491.9], 'Coffee Beans and Teas users': [52247, 63446, 38086, 83127, 37200, 55565, 28474, 58144, 25756, 29600], 'Coffee Beans and Teas spends': [490.45, 476.8, 451.37, 429.08, 421.37, 416.82, 415.46999999999997, 408.17, 405.0, 402.73], 'Supermarkets users': [26846, 91186, 36877, 36073, 61869, 27678, 1908, 26232, 23162, 77243], 'Supermarkets spends': [7256.67, 7041.0, 7000.48, 6956.17, 6926.96, 6904.04, 6883.01, 6876.58, 6860.33, 6836.28], 'Pets users': [14426, 97094, 9381, 86624, 15471, 44472, 67252, 76648, 35427, 6829], 'Pets spends': [789.0, 703.0, 692.0, 689.0, 684.0, 684.0, 683.0, 668.0, 659.0, 653.0], 'Hardware users': [63924, 18351, 4759, 49137, 85948, 43594, 49617, 21573, 65128, 35189], 'Hardware spends': [1154.0, 1124.0, 1119.0, 1039.0, 1039.0, 1026.0, 1025.0, 1008.0, 977.0, 969.0], 'Gifts users': [83998, 49602, 74361, 83068, 21066, 46519, 78988, 39543, 4686, 17443], 'Gifts spends': [305.0, 300.0, 300.0, 280.0, 273.0, 270.0, 270.0, 260.0, 255.0, 250.0], 'Cafes users': [84946, 76581, 29460, 40532, 41688, 35504, 55548, 98305, 98560, 10145], 'Cafes spends': [2419.4, 2415.95, 2391.95, 2382.9, 2381.1, 2376.9, 2371.2, 2371.0, 2359.35, 2352.25], 'Dining users': [31962, 38494, 5740, 61463, 76584, 57079, 88017, 77974, 19936, 65044], 'Dining spends': [2746.5299999999997, 2641.25, 2619.8, 2588.37, 2566.52, 2563.06, 2540.63, 2540.03, 2523.51, 2518.02], 'Apparel users': [85270, 67539, 45079, 45712, 5556, 37988, 68134, 64251, 37764, 100105], 'Apparel spends': [5160.0, 5046.0, 5042.0, 4993.0, 4950.0, 4926.0, 4889.0, 4822.0, 4813.0, 4739.0], 'Children users': [39596, 19758, 38120, 4148, 16216, 48950, 9518, 70037, 19878, 36923], 'Children spends': [2873.0, 2808.0, 2766.0, 2723.0, 2675.0, 2649.0, 2649.0, 2637.0, 2631.0, 2608.0], 'Specialty Foods users': [35403, 95241, 69959, 85144, 29448, 50031, 62501, 56704, 2069, 17004], 'Specialty Foods spends': [3556.76, 3442.19, 3405.17, 3376.48, 3335.43, 3332.43, 3322.33, 3309.55, 3297.21, 3267.48], 'Lunch / Light Meal users': [1615, 84302, 51233, 37688, 97898, 93530, 49855, 61024, 13375, 79891], 'Lunch / Light Meal spends': [1921.02, 1828.73, 1820.91, 1820.29, 1803.98, 1792.0, 1770.93, 1767.81, 1765.2, 1764.48], 'TV/Film users': [8295, 75897, 29418, 32858, 40921, 46413, 89525, 22482, 88698, 23076], 'TV/Film spends': [530.88, 517.88, 500.88, 494.88, 486.88, 486.88, 483.88, 478.88, 471.88, 469.88], 'Alcohol users': [33092, 45432, 38966, 73744, 5876, 53000, 25615, 62371, 97236, 72646], 'Alcohol spends': [437.93, 433.93, 429.93, 420.91999999999996, 412.91, 397.90999999999997, 395.92999999999995, 382.90999999999997, 379.90999999999997, 368.95], 'Electronics / Technology users': [27641, 19131, 3580, 91835, 58008, 97507, 91890, 86256, 72121, 97832], 'Electronics / Technology spends': [2776.0, 2746.0, 2707.0, 2630.0, 2507.0, 2471.0, 2427.0, 2360.0, 2351.0, 2285.0], 'Gaming users': [34568, 95185, 88957, 20029, 14894, 61744, 85508, 85294, 77230, 33486], 'Gaming spends': [1187.0, 1125.0, 1061.0, 1049.0, 984.0, 983.0, 969.0, 962.0, 960.0, 957.0]}

# Classic Boolean

In [26]:
def safe_eval(str_eval): #because date format.. float error
    try:
        return ast.literal_eval(str_eval)
    except ValueError:
        return []

def calculate_monthly_spend(date_transactions, spend_transactions):
    dates = safe_eval(date_transactions) 
    spends = safe_eval(spend_transactions)
    monthly_spend = {}
    for date_str, spend in zip(dates, spends):
        try:
            date = datetime.strptime(date_str, '%d/%m/%Y')
            key = (date.year, date.month)
            monthly_spend[key] = monthly_spend.get(key, 0) + spend
        except ValueError:
            continue  
    return monthly_spend

def check_eligibility_for_classic(monthly_spend):
    return any(spend > 2000 for spend in monthly_spend.values())

data['monthly_spend'] = data.apply(lambda row: calculate_monthly_spend(row['user_date_transaction'], row['user_industry_spend']), axis=1)
data['eligible_for_classic'] = data['monthly_spend'].apply(check_eligibility_for_classic)

In [27]:
eligible_for_classic = data[data['eligible_for_classic'] == True][['user_id', 'eligible_for_classic']]
eligible_for_classic.head()

   user_id  eligible_for_classic
0     1000                  True
1    10000                  True
2   100000                  True
3   100002                  True
4   100019                  True

In [28]:
eligibility_counts = data['eligible_for_classic'].value_counts()
print(eligibility_counts)

True     8142
False    6094
Name: eligible_for_classic, dtype: int64

# Club Lloyds eligible users

In [31]:
data['user_industry_interaction'] = data['user_industry_interaction'].apply(ast.literal_eval)

target_industries = ['Cafes', 'Lunch / Light Meal', 'Coffee Beans and Teas', 'Dining', 'TV/Film']

def count_target_interactions(industry_list):
    return sum(industry in target_industries for industry in industry_list)

data['target_industry_interactions'] = data['user_industry_interaction'].apply(count_target_interactions)
threshold = 5

data['eligible_for_clublloyds'] = data['target_industry_interactions'] >= threshold

recommended_users = data[data['eligible_for_clublloyds']]
recommended_users[['user_id', 'eligible_for_clublloyds']].head()

   user_id  eligible_for_clublloyds
0     1000                     True
3   100002                     True
4   100019                     True
8    10004                     True
9   100053                     True

In [32]:
recommendation_counts = data['eligible_for_clublloyds'].value_counts()
print(recommendation_counts)

False    7272
True     6964
Name: eligible_for_clublloyds, dtype: int64

# Cafe frequencies

In [33]:
def safe_convert_to_list(list_str):
    try:
        return ast.literal_eval(list_str)
    except (ValueError, SyntaxError):
        return []
    
def calculate_cafe_frequency(row):
    industries = row['user_industry_interaction']
    frequencies = row['user_industry_interaction_frequency']
    
    if isinstance(industries, str):
        industries = safe_convert_to_list(industries)
    if isinstance(frequencies, str):
        frequencies = safe_convert_to_list(frequencies)
    
    cafe_freq = sum(frequency for industry, frequency in zip(industries, frequencies) if industry in ['Cafes', 'Coffee Shops'])
    return cafe_freq

data['Cafe_frequency'] = data.apply(calculate_cafe_frequency, axis=1)
print(data[['user_id', 'Cafe_frequency']].head())

   user_id  Cafe_frequency
0     1000             813
1    10000              23
2   100000             828
3   100002             281
4   100019             214

# Dining Frequency

In [34]:
def calculate_dining_frequency(row):
    industries = row['user_industry_interaction']
    frequencies = row['user_industry_interaction_frequency']
    
    if isinstance(industries, str):
        industries = safe_convert_to_list(industries)
    if isinstance(frequencies, str):
        frequencies = safe_convert_to_list(frequencies)
    
    dining_freq = sum(frequency for industry, frequency in zip(industries, frequencies) if industry in ['Dining'])
    return dining_freq

data['Dining_frequency'] = data.apply(calculate_dining_frequency, axis=1)
data[['user_id', 'Dining_frequency']].head()

   user_id  Dining_frequency
0     1000                37
1    10000                51
2   100000                58
3   100002                33
4   100019                38

# Apparel shopping frequency

In [35]:
def calculate_apparel_frequency(row):
    industries = row['user_industry_interaction']
    frequencies = row['user_industry_interaction_frequency']
    
    if isinstance(industries, str):
        industries = safe_convert_to_list(industries)
    if isinstance(frequencies, str):
        frequencies = safe_convert_to_list(frequencies)
    
    dining_freq = sum(frequency for industry, frequency in zip(industries, frequencies) if industry in ['Apparel'])
    return dining_freq

data['Apparel_frequency'] = data.apply(calculate_apparel_frequency, axis=1)
data[['user_id', 'Apparel_frequency']].head()

   user_id  Apparel_frequency
0     1000                  1
1    10000                 23
2   100000                  1
3   100002                 32
4   100019                 25